[2018-03-30 18:47] kasbah opened #1 "Prepare document keeps popping up the popup"
When I press "prepare document" and then click apply the popup re-appears. I have to click cancel to stop it.

[2018-03-30 23:20] badgeek commented on #1
hi kaspar, did you get export function working?

[2018-03-31 07:52] 5shekel commented on #1
might be connected,
python2 was missing lib2xml

but it did produce a clear error message
https://i.imgur.com/23z0S1a.png

[2018-03-31 07:57] 5shekel opened #2 "missing chmod +x on linux"
following instructions. working with example virusPCB svg
after
`4.Extension > Svg2Shenzhen > Export Kicad`
i get

1. png files in output folder (they look fine)
2. this error popup
`"/home/yair/.config/inkscape/extensions/bitmap2component_linux64" "/home/yair/dev/testPCB/001_F.Cu.png"
"/home/yair/dev/testPCB/001_F.Cu.kicad_module" F.Cu true 128
"/home/yair/.config/inkscape/extensions/bitmap2compo

[2018-03-31 08:46] badgeek commented on #2
Could you paste the result if you run this in terminal

/home/yair/.config/inkscape/extensions/bitmap2component_linux64

On Sat, Mar 31, 2018, 2:57 PM yair <notifications@github.com> wrote:

[2018-03-31 10:59] 5shekel commented on #2
[code]

[2018-03-31 11:00] 5shekel commented on #2
[code]

[2018-03-31 11:01] 5shekel commented on #2
so it works...
[code]

[2018-03-31 11:02] 5shekel commented on #2
i guess it was the
`chmod +x bitmap2component_linux64`
that solved it

it now output also from the extension

[2018-03-31 11:03] badgeek commented on #2
cool, i think i lost +x when i transfer it from linux to osx, i'll update the zip

[2018-03-31 11:04] badgeek commented on #2
meanwhile you can try to export from inkscape it should work

[2018-03-31 11:08] 5shekel commented on #2
while your doing the zipping, delete the __MACOS folder.

[2018-03-31 11:16] badgeek commented on #2
coool,,, updated latest build file

[2018-03-31 11:37] 5shekel commented on #2
looking good
https://i.imgur.com/v33FFAQ.png

[2018-03-31 11:41] badgeek commented on #2
looks like it missing drill pad and silk screen ?

[2018-03-31 11:43] #2 closed, assigned to nobody

[2018-03-31 12:00] 5shekel commented on #2
no drills and screens?
just me opening footpads and not the compiled.kicad_pcb file

[2018-03-31 12:45] dusjagr opened #3 "inverting the soldemask layer"
It would be great to have a tickbox to choose that the soldermask layer gets inverted. if its a simple hand-drawn style it ok to just duplicate the copper layer and put it in the soldermask, so all area outside of the copper gets masked without inversion.

but if i want to have a dedicated design with the soldermask, best to to be able to draw it as it is and do the inverting behind the scene duri

[2018-03-31 15:44] 5shekel opened #4 "rounded corners on boxes"
might be the small size of the sketch?
all objects are converted to a path.
but i get rounded corners where there shouldn't be

![pic](https://i.imgur.com/Z0EEoJV.png)

[svg srouce](https://github.com/shenkarSElab/TinyTony/blob/master/board/TinyTony_ShenzenReady_board.svg)

[2018-03-31 16:16] badgeek commented on #4
image is too small, fix set export dpi to 2000 but the extension that you have now max dpi is 1000... will add the fix on next release

![screenshot_128](https://user-images.githubusercontent.com/64752/38165165-61755760-3539-11e8-98e5-1b566e27f086.png)

[2018-03-31 19:04] 5shekel commented on #4
my setup limits me to 1000dpi, even if i set it on 2000.
after i updated to your fix

[2018-03-31 22:57] badgeek commented on #4
aha i forgot to update readme, its now pointing to release section

[2018-03-31 23:00] badgeek commented on #3
implemented this e297a0ace81b4ab6a0ddb822eeecbf558aca595f

[2018-03-31 23:00] #3 closed, assigned to nobody

[2018-03-31 23:23] 5shekel commented on #4
works!

[2018-03-31 23:23] #4 closed, assigned to nobody

[2018-04-01 01:12] badgeek commented on #4
bitmap2component will still import using 600 dpi as scale, fixed in version 0.2.3

[2018-04-01 01:16] badgeek commented on #1
just hit close after "prepare document"

[2018-04-01 08:51] kasbah commented on #1
So this is how it's supposed to be? Why not close it automatically after preparation completes? Seems confusing to do it this way.

Yes, I did manage to get the export working in the latest version. This is going to be awesome when I have more time to play with it!

[2018-04-01 12:55] badgeek commented on #1
yes you have to hit close, i tried to find why this behaviour is happening but have no clue at all.. been loking other extension as well...

[2018-04-03 11:30] kasbah commented on #1
I feel like it is a bug in that case and should remain open until a solution is found. I'll have a go at solving it (when I find time).

[2018-04-03 12:00] badgeek commented on #1
kool, thx

[2018-04-08 02:13] twinkletwinkie opened #5 "Not creating files in Windows"
Attempting to run the Export command gives errors:

`"C:\Users\username\AppData\Roaming\inkscape\extensions\bitmap2component.exe" "C:\Users\username\test\images\001_F.Cu.png" "C:\Users\username\test\pcbart.pretty\001_F.Cu.kicad_mod" F.Cu true 600 128
"C:\Users\username\AppData\Roaming\inkscape\extensions\bitmap2component.exe" "C:\Users\username\test\images\002_F.Mask.png" "C:\Users\username\test\p

[2018-04-08 05:18] badgeek commented on #5
could you upload what is in test folder?

[2018-04-08 05:29] twinkletwinkie commented on #5
Folders:
Pcbart.pretty
Images

Images has .png files.

[2018-04-08 08:20] badgeek commented on #5
From command prompt, paste this
C:\Users\username\AppData\Roaming\inkscape\extensions\bitmap2component.exe

And press enter, what is the ouput?

[2018-04-08 13:35] twinkletwinkie commented on #5
![85fbe16e-e7ad-429d-aa1d-013aeea370b2](https://user-images.githubusercontent.com/5308062/38468156-2ecd17ee-3b10-11e8-97c0-337bc16dff24.jpeg)

[2018-04-09 00:14] badgeek commented on #5
extract and open bitmap2component, and what is the output?

[bitmap2component.exe.zip](https://github.com/badgeek/svg2shenzhen-next/files/1888060/bitmap2component.exe.zip)

[2018-04-09 01:00] twinkletwinkie commented on #5
![image](https://user-images.githubusercontent.com/5308062/38474700-da0c9594-3b6f-11e8-8bb7-763b77f6554e.png)

[2018-04-09 01:08] badgeek commented on #5
no bitmap2component.exe ?

[2018-04-09 01:26] badgeek commented on #5
just run the exe./..

[2018-04-09 01:37] twinkletwinkie commented on #5
I misunderstood what you were asking me. I didn't realize that you had linked to an updated version of bitmap2component.exe, it wasn't obvious from the email I received.

It appears to be working correctly now, thank you very much.

[2018-04-09 01:41] twinkletwinkie commented on #5
I processed the example you provided and it says "LOGO***" in the middle of the board.  Is it supposed to do that?

![image](https://user-images.githubusercontent.com/5308062/38475341-88f687a4-3b75-11e8-8686-a132a102b524.png)

[2018-04-09 01:45] badgeek commented on #5
yes that is correct, i will push new release with this fix

[2018-04-09 01:50] #5 closed, assigned to nobody

[2018-04-12 23:00] kasbah opened #7 "Bitmap2component compilation fails at first step"
[code]

[2018-04-12 23:02] badgeek commented on #7
Are you using kicad 4.0.7 source?

[2018-04-12 23:04] kasbah commented on #7
No, I thought this was self contained. I need to put the source somewhere in particular?

[2018-04-12 23:13] badgeek commented on #7
Aha, i forgot abt this, kicad source already included but you need lib
boost  (im using ver 1.56) put it inside include/boost folder

On Friday, April 13, 2018, Kaspar Emanuel <notifications@github.com> wrote:

--
Budi Prakosa
e: iyok@deadmediafm.org | budi.prakosa@gmail.com
p: +62 811 268 995
w: manticore.deadmediafm.org | lifepatch.org

[2018-04-13 01:04] kasbah commented on #1
I had a look over the inkscape docs I could find but haven't found a way to automatically close it either. :frowning_face:

[2018-04-20 04:41] badgeek opened #11 "zone support"
create kicad zone will be good addition for this extension

[2018-04-20 12:41] kasbah opened #12 "Use variables in output path"
Instead of setting output path to a folder `~/output` we could set it to the exact filename `~/output/my.kicad_pcb` but also allow a filename variable to be substituted.

E.g. `~/output/{filename}` could expand to:

-  `~/output/drawing.kicad_pcb` if the svg is called `drawing.svg` and the output is set to kicad_pcb (it would still also create a `drawing.pro` and `fp-lib-table`)
-  `~/output/edge_

[2018-04-20 12:48] kasbah commented on #12
Or maybe we could just change the default behaviour and always use the svg filename as the output name? Might be less confusing than using python `format` style variable substitution.

[2018-04-20 13:02] badgeek commented on #12
Been thinking abt this too, bit problem is we cant get current svg filename
from inkscape

On Fri, Apr 20, 2018, 7:48 PM Kaspar Emanuel <notifications@github.com>
wrote:

[2018-04-20 22:52] kasbah commented on #12
I think this is good as it is now with merging of #13. No need to complicated things with variables. Feel free to re-open if you feel differently.

[2018-04-20 22:52] #12 closed, assigned to nobody

[2018-04-20 23:01] kasbah opened #14 "KiCad 5 anchor pad support"
Noticed this in @Junes-PhD's [kicad_arbitrary_pad_example](https://github.com/Junes-PhD/kicad_arbitrary_pad_example). I missed the Hackchat but it looks like KiCad 5 will support funky pad shapes which means you can better make drawings part of the circuit without breaking the rules checks. This won't work with KiCad 4 of course.
![image](https://user-images.githubusercontent.com/206854/39077043-9

[2018-04-20 23:10] badgeek commented on #14
i missed hackchat too.. 6 am here... this would be good addition

[2018-04-20 23:25] badgeek commented on #14
in kicad 4 maybe we can use zone

[2018-04-20 23:57] kasbah commented on #14
Found a [transcript of the Hackchat](https://hackaday.io/event/112119-pcb-artwork-and-photo-conversions/log/144727-pcb-artwork-photo-conversions-hack-chat-transcript). Some other good tips in there too.

[2018-04-27 23:16] kasbah opened #16 "Setting drill size doesn't seem to work"
I tried running the "set drill size" before and after adding some circles but they always come out to 0.8mm when I do the "Kicad PCB" export (need to test mod output too). Why don't we just set them to the diameter of the circles being added anyway?

[2018-05-03 00:25] badgeek commented on #1
done

[2018-05-13 16:55] kasbah opened #22 "Please release 0.3"
Or 0.2.13, not sure how the version numbers work. I am holding an [svg2shenzhen workshop in Paris](https://hackarnaval.online/abstracts-fr/kicad.html) this week and it would be nice to have easy access to the latest merged features.

[2018-05-13 17:56] badgeek commented on #22
Hi Kaspar, i just make 0.2.13 release
https://github.com/badgeek/svg2shenzhen/releases

im thinking of about making svg2shenzhen inside organization repo so you
can also make new release without my approval

im bit slow since im working on another project and havent start making pcb

what do you think?

cheers

On Sun, May 13, 2018 at 11:55 PM, Kaspar Emanuel <notifications@github.com>
wrote:

--

[2018-05-13 18:55] kasbah commented on #22
Thanks! You mean make a GitHub org and add me to it? Sure, you could also just add me to this repo I think. If I were to make a future release I would need to know: is there some thinking behind the version numbers or is it not important?

[2018-05-13 18:59] kasbah commented on #16
This is resolved with merging of #17. We can now set the drill size simply through the circle size.

[2018-05-13 18:59] #16 closed, assigned to nobody

[2018-05-14 00:57] badgeek commented on #22
cool, version number is not important, just to make each release have different number (im reaaly poor about using good convention) if you have better version number, go for it, and my consideration for each release is compatibility with windows  (make sure windows version also working well), i'll think abt organization name or maybe i'll add you to this repo (i dont know that before)

[2018-05-19 09:07] urish opened #23 "Nice work, thanks!"
I love the name 👍

[2018-05-19 10:05] badgeek commented on #23
Thanks for your detailed article! It helped me learn kicad and create this
tool

On Sat, May 19, 2018, 4:07 PM Uri Shaked <notifications@github.com> wrote:

[2018-05-19 10:06] urish commented on #23
❤️

[2018-05-19 10:06] #23 closed, assigned to nobody

[2018-05-19 10:53] 5shekel opened #24 "via annular ring"
reproduce:
* create a (0.6mm) circle in drill layer
* a 1mm copr ring around it is generated automatically in copper layer.

this is contrary to the TIPS section in readme

[![](https://i.imgur.com/x2X3rKQl.png)](https://i.imgur.com/x2X3rKQ.png)

to combat this i erase the ring in gerbv (gerbv is awesome)

[2018-05-19 12:11] 5shekel opened #25 "auto gerber export using kicad script [addon]"
kicad offers  a nice python scripting example for auto gerber (and other formats) output.

https://gist.github.com/5shekel/b8e1c65e3923aa3288bfc83cc8a057c2

[2018-05-20 20:09] kasbah commented on #23
What article? :grin:

[2018-05-20 20:12] kasbah commented on #25
Nice, yeah would make sense as an additional output option.

[2018-05-20 20:18] kasbah commented on #24
I can't reproduce this. Is svg2shenzhen up to date? If it is, can you share the file where this happens?

[2018-05-20 20:27] kasbah commented on #24
Oops, actually I can reproduce this: I can see it in Gerbers but not in KiCad. I guess KiCad adds the ring. The solution is probably to mark these holes NPTH (non-plated through-hole) but then they will also be put into the NPTH.drl file unless you check an option to merge them. Still makes the most sense since they could in fact be NPTH.

[2018-05-20 20:32] #22 closed, assigned to nobody

[2018-05-20 21:13] 5shekel commented on #24
so to clarify,
the diff between a NPTH and thru hole is
**Thru hole:**
the script adds ring in mask and copper layer (front and back) to all drill holes, **by default**

**NPTH:** 2 post script options
1. edit hole in kicad, so its specified as NPTH or Thru Hole(by default)
2. erase the ring from all affected layers in gerber editor (gerbv) which will basically turn it into an NPTH

btw. the sourc

[2018-05-20 21:28] kasbah commented on #24
By "the script" you mean svg2shenzhen? Currently it adds though-hole pads with the copper and mask the same size as the hole. So yeah, your two workarounds should work. We should fix this in svg2shenzhen though.

[2018-05-21 08:48] 5shekel commented on #24
@kasbah can you direct me to the location of the drill creation in the svg2shenzhen script?
i want to experiment and a bit lost .

[2018-05-21 11:13] kasbah commented on #24
https://github.com/badgeek/svg2shenzhen/blob/fb80c3ac2de66e3bdf15c447a4b5d6e00d70a3d1/inkscape/svg2shenzhen/export.py#L619-L627

I think we can change those to `np_thru_hole` rather than `thru_hole`. I believe we can also remove the pad names (`{n}`) with `""` since it makes even less sense to give them names.

I played around a bit and noticed there is still a solder mask expansion around the non

[2018-05-21 11:41] 5shekel opened #26 "default Threshold for color"
https://github.com/badgeek/svg2shenzhen/blob/81fee713f6492fbf02075cc125901f9ef26a143d/inkscape/svg2shenzhen_export.inx#L13

the default 128 might confuse as it will disregard (some) colors when we export.
i suggest a lesser default

[2018-05-23 07:51] fdb-git opened #27 "How to use other layers?"
How to other layers like F.Adhes, Eco1.User etc?
I tried to add these layers with same name but they are not exported.

[2018-05-23 09:34] badgeek commented on #27
currently we only support layer provided by svg2shenzhen prepare document

[2018-05-23 20:05] kasbah commented on #27
It would be fairly easy to enable all layers though.

[2018-07-02 20:24] DaveCalaway opened #29 "miss libxml2 [mac]"
I try to install it by "brew install libxml2" but does not works anyway.

[2018-07-02 20:44] kasbah commented on #29
Have you tried?

[code]

[2018-07-02 21:09] #29 closed, assigned to nobody

[2018-08-09 06:59] Tom-Archer opened #30 "0.2.13 Plugin No Longer Runs"
The zip file, "svg2shenzhen-extension.zip" that makes up release 0.2.13 contains the following code in "export.py":

[code]

This now means the plugin doesn't run. Was this planned obsolescence?

[2018-08-09 07:05] Tom-Archer commented on #30
This also places a dependency on the "dateutil" package, which isn't imported at the top of the file, nor is it installed by default as part of a Python installation. Took me a bit of hacking to get this script to actually run.

[2018-08-12 14:09] kasbah commented on #30
Can confirm that's what's in the zip. I have been using the git version so never checked the zip. @badgeek, what the hell!? I wasn't aware of this! Pretty easy to remove but, just, why? There needs to be a release with a fix ASAP and an explanation!

Here is a fixed zip in the meantime: https://cloud.monostable.co.uk/svg2shenzhen-fb80c3a.zip.
Someone can verify that this is a straight up zip of th

[2018-08-12 15:33] kasbah commented on #30
I just realised I have the ability to make releases so I made https://github.com/badgeek/svg2shenzhen/releases/tag/v0.2.14. I deleted the zip for v0.2.13. I still need an explanation for this nonsense though.

[2018-08-12 15:41] badgeek commented on #30
Thanks i will explainnsoon

On Sun, Aug 12, 2018, 10:33 PM Kaspar Emanuel <notifications@github.com>
wrote:

[2018-08-20 13:24] kasbah commented on #30
Hey, @badgeek and I have been in touch privately. There has been a lot of personal drama in their life unrelated to this and it's not the right time to press for an explanation about this weird timeout code that never even worked. @badgeek did apologize for it and hopefully should be back on here soon, when they find time, helping out with svg2shenzhen.

With the release of 0.2.14 the code is remo

[2018-08-20 13:24] #30 closed, assigned to nobody

[2018-09-21 03:25] badgeek opened #31 "prepare document now allows non square size"
hi @kasbah im pushing new update, this is a bug from the beginning and finally i managed to fix it, need to compile bitmap2component to all platform again (i hate it) i'll do it when i have more free time..

[2018-09-21 03:26] badgeek opened #32 "PCBs designed using svg2shenzen"
would be cool if we have list/gallery of pcb made with this tool

[2018-09-21 07:15] badgeek commented on #7
download boost here
https://github.com/badgeek/svg2shenzhen/files/2404261/boost.zip

[2018-09-21 14:07] badgeek commented on #31
- [x] osx build
- [x] windows build
- [x] linux build

[2018-09-21 14:08] kasbah commented on #31
I could try and do the linux build if that helps.

[2018-09-21 14:14] badgeek commented on #31
that would help!, you will need
https://github.com/badgeek/svg2shenzhen/files/2404261/boost.zip and extract it under include folder, so the path would be include/boot/*

and "sh build.sh" from the src folder.

[2018-09-21 14:17] kasbah commented on #31
Does it matter whether the machine is 32-bit or 64-bit?

[2018-09-21 14:22] badgeek commented on #31
i prefer 64 because common distro using 64 bit.. and i have 32 bit machine here so i can compile it myself

[2018-09-21 14:36] badgeek commented on #31
tried to compile on my linux vps and gave me this

[code]

i think i changed the build script for linux and my old vps is dead now...so i will need to figure out how to fix this..

[2018-09-21 14:51] badgeek commented on #31
Found out the problem, we need to compile potrace first

i'll document compilation step here...

Prepare Boost

[code]

Compile libpotrace

[code]

Compile bitmap2component

[code]

[2018-09-21 15:02] badgeek commented on #7
compilation step is in #31

[2018-09-21 15:10] kasbah commented on #7
It will take a me a few days at least to get around to doing this. Feel
free to go ahead if it's urgent.

On 21 September 2018 at 15:02, Budi Prakosa a.k.a Iyok <
notifications@github.com> wrote:

[2018-09-21 15:12] badgeek commented on #7
no problem... i'll try to document it while i have free time...

[2018-10-05 18:31] twinkletwinkie opened #33 "Feature Request: 4 Layer Board Option"
When prepping the board design I'd like to see a option for a 4 Layer Board configuration.

[2018-10-06 00:46] kasbah opened #34 "/tmp/ is not normally writable on linux"
I set the temporary "cache" directory to /tmp/ when the svg hasn't been saved yet. This isn't normally writable by the user so it results in asking for a root password.

[2018-10-06 00:48] kasbah commented on #33
I think this is the same issue as #27.

[2018-10-08 06:40] 5shekel commented on #32
i found it allows me to design footprints out of this world
like this hi-rose connector adapter from a screw type to board

i will look around

[2018-10-15 21:53] 4b11b4 opened #35 "Checkbox to hide Val and Ref"
I was wondering if it might be possible to add a checkbox to set the Value and Reference text to "not visible" from the Step 2 Menu within Inkscape?

[2018-10-16 17:19] kasbah commented on #35
You mean when you export the whole thing to a kicad module? I think we should just make it invisible by default.

[2018-10-16 17:54] 4b11b4 commented on #35
I would agree.
Most of the time you'll be making features which won't need the Val and Ref silkscreen fields?
A checkbox (checked by default) would give people the option though.

[2018-10-17 10:54] kasbah commented on #35
I think we don't even need a checkbox because you can fairly easily override/change this in KiCad.

[2018-10-18 03:44] 4b11b4 commented on #35
True. It is probably the default case that people will not need a %V and %R, since this tool is primarily for making symbols and art.

[2018-10-18 17:02] 4b11b4 commented on #32
I have a bunch of faceplates that I made for analog synthesizers.
I can send you a bunch of images...

[2018-10-22 12:52] Tom-Archer commented on #32
Here's one of mine:
https://www.tindie.com/products/tomm_archer/myah-badge-inspired-by-skeletor/
http://www.tomarcher.co.uk/2018/08/29/pcb-pin-badges-skeletor/

[2018-10-26 22:06] 4b11b4 commented on #35
@badgeek What do you think? I will make a pull request.

[2018-10-26 22:27] 4b11b4 commented on #35
@badgeek Would you kindly confirm if this is the appropriate file to modify?

svg2shenzen/inkscape/svg2shenzen/**export.py**
_append after line 463_

[2018-10-26 22:28] 4b11b4 commented on #35
This would be appended after line 463:

(fp_text reference Ref** (at 0 0) (layer F.SilkS) hide
    (effects (font (size 1.27 1.27) (thickness 0.15)))
  )
  (fp_text value Val** (at 0 0) (layer F.SilkS) hide
    (effects (font (size 1.27 1.27) (thickness 0.15)))
  )

I just tested this in practice and it works.
(KiCad 6.0.0-rc1)

I do not believe the .kicad_mod files have changed from 5 to 6 or pla

[2018-10-26 22:42] 4b11b4 commented on #24
Where did you see the solder mask expansion? In the exported gerbers?
Just wondering if it might be due to local or global mask clearances that would not be due to svg2shenzen.

[2018-10-26 23:01] 4b11b4 commented on #35
#37

[2018-10-26 23:44] 5shekel commented on #24
yes, its an auto expansion done by kicad to all thru holes.

you can choose to disable that expansion inside kicad.  by right click/editing each pad before you export to gerber (maybe even change the default template in kicad, idk)

i use a kicad script (#25) to bypass the kicad GUI stage altogether so i erase any kicad "addons" i dont like directly at the gerber stage. using gerber viewer and edi

[2018-10-27 00:52] badgeek commented on #35
i'll test it

[2018-10-28 09:17] #31 closed, assigned to nobody

[2018-10-29 00:42] #35 closed, assigned to nobody

[2018-10-29 00:46] 4b11b4 commented on #32
https://ibb.co/gvrKWV

[2018-10-29 00:47] badgeek commented on #32
do you have actual photo of the board?

[2018-10-29 08:20] kasbah commented on #32
New Kitspace ruler is looking much better. https://kitspace.org/boards/github.com/kitspace/ruler/

[2018-10-29 16:05] 4b11b4 commented on #32
I have a variety of boards like this, I'll get some photos

[2018-10-29 17:18] 5shekel commented on #32
https://github.com/5shekel/pdRuler

[2018-12-07 08:19] vektorious opened #38 "Unable to export .Mask (MacOS)"
First of all, thanks for this great Inkscape addon!

I am playing around with it since a few days and it works great for exporting F.Cu and Edge.Cuts but I run into problems when I wanted to include a F.Mask layer.

I renamed the layer and used a copy of my F.Cu drawing and also tried F.Mask-auto but neither works for me. It seems like only F.Cu and Edge.Cuts always are exported. I still have to c

[2018-12-07 08:30] badgeek commented on #38
hi, F.Mask should be work, i'll check it on weekend

[2018-12-07 08:30] badgeek commented on #38
what is your inkscape version?

[2018-12-07 08:56] badgeek commented on #38
@vektorious interesting pcb! btw check this,

[bacterialcell.zip](https://github.com/badgeek/svg2shenzhen/files/2656535/bacterialcell.zip)

i think fmask is working

[2018-12-07 08:57] vektorious commented on #38
It's 0.92.2 5c3e80d from 2017-08-06 so fairly up to date.
I think atm the latest stable version is 0.92.3

I'll be around on Saturday so if you want me to quickly test s.th let me know!

[2018-12-07 09:14] vektorious commented on #38
Oh wow. I am super sorry. I feel stupid now. You are right I just did it again and it is working with copying the F.Cu sketch to F.Mask and then exporting it.

I don't know what went wrong earlier because (I thought) I did it exactly like that and I also checked the 3D viewer and everything...

Sorry again, thanks for the quick help!

@kasbah introduced me to PCB design and now I am tinkering arou

[2018-12-07 11:53] #38 closed, assigned to nobody

[2019-01-29 23:26] kasbah opened #39 "Can't deal with this spiral as edge cuts"
Just working on the FOSDEM tutorial and noticed that this spiral doesn't work. :snail:

![image](https://user-images.githubusercontent.com/206854/51947527-1f57a580-241d-11e9-8ddf-60823640b6d1.png)
![image](https://user-images.githubusercontent.com/206854/51947533-254d8680-241d-11e9-8ddd-f7f47cbd348a.png)

[example.tar.gz](https://github.com/badgeek/svg2shenzhen/files/2810143/example.tar.gz)

[2019-01-29 23:35] kasbah commented on #39
Looks like the problem was the paths weren't joined up on the inner tip of the spiral. Joining paths there fixes it.

![image](https://user-images.githubusercontent.com/206854/51947940-875abb80-241e-11e9-8a45-43424998a18d.png)

[2019-01-29 23:35] #39 closed, assigned to nobody

[2019-01-29 23:37] badgeek commented on #39
i remember i tried this crazy spiral, almost fired up inkscape and test it again 😆

[2019-02-10 01:29] ssilverm commented on #32
https://imgur.com/a/zQlW1Rs

https://blog.adafruit.com/2019/02/04/the-making-of-pcb-art-pcb-art-making-badgelife-ssilver2k2/

[2019-02-10 01:58] badgeek commented on #32
thanks, i'll post what i found as well,

https://www.gabetaubman.com/blog/posts/kicad-custom-footprint/

[2019-02-10 07:39] Tom-Archer commented on #32
Here's another one of mine:
http://www.tomarcher.co.uk/2018/12/10/xmas-fireplace-ornament-pcb/

[2019-02-14 02:04] marsfactory opened #42 "Does it work on Kicad 5?"
![sin titulo](https://user-images.githubusercontent.com/32801212/52757444-6af47c80-2fe3-11e9-8099-545bba76d3d7.jpg)

[2019-02-14 02:07] marsfactory commented on #42
![sin titulo2](https://user-images.githubusercontent.com/32801212/52757551-cde61380-2fe3-11e9-9853-0da02d5c7784.jpg)

Fmask and Edge cuts go up, but I can not get Fcup up

[2019-02-14 03:17] #42 closed, assigned to nobody

[2019-02-15 11:16] badgeek commented on #42
@marsfactory is it solved? should be works with kicad 5 cc @kasbah

[2019-02-15 13:56] 5shekel commented on #32
fresh... noticed (while googling svg2sz)
https://www.seeedstudio.com/blog/2019/02/14/new-year-lions-another-attempt-at-kicad-svg2sz-pcb-art/

[2019-02-15 15:20] marsfactory commented on #42
Sorry buddy, the problem is solved. Lack of sleep is the problem. The copper layer was not black, so Kicad did not charge it. Thank you!!!

[2019-02-20 10:00] badgeek commented on #32
http://dernulleffekt.de/doku.php?id=paper_pcb_shenzhen_ready:main

[2019-05-05 20:57] hedefalk opened #44 "Doesn't work under 0.92.4 on OSX 10.14.4"
I'm trying to export an svg, but I guess I'm missing some magic sauce because I just keep getting this empty footprint:

[code]

This is my svg:

https://gist.github.com/hedefalk/5b428772f7deefc906a194f297371e9e

[2019-05-05 21:28] hedefalk commented on #44
I'm on OSX 10.14.4 (18E226) and Inkscape 0.92.4 (5da689c313, 2019-01-14).

Just got feedback from other thread over at kicad forum that this file went fine on Fedora and 0.92.2:

https://forum.kicad.info/t/svg-import-tips/16790/10?u=hedefalk

Debug output is:

[code]

If I try to export png I get no file at all.

[2019-05-06 07:19] hedefalk commented on #44
I wonder if there's anything I'm missing. Read that it should be pitch black somewhere in a tutorial but other than that I don't know… I have very limited knowledge about Inkscape:

![image](https://user-images.githubusercontent.com/116520/57211293-02181180-6fe0-11e9-8f02-8f74bb49ffb8.png)

[2019-05-06 08:52] badgeek commented on #44
what is your inkscape version? there is nothing to do with svg format, all
layer exported to png by inkscape before going through bitmap2component...

[code]

On Mon, May 6, 2019 at 2:19 PM Viktor Hedefalk <notifications@github.com>
wrote:

--
Budi Prakosa
e: iyok@deadmediafm.org | budi.prakosa@gmail.com
p: +62 811 268 995
w: manticore.deadmediafm.org | lifepatch.org

[2019-05-06 09:09] badgeek commented on #44
@hedefalk can you try with inkscape 0.92.1, that is what im using and im on osx 10.13.6

[2019-05-07 14:48] hedefalk commented on #44
Ok, I didn't read carefully enough and tried with an osx installer 0.92.2. That one doesn't seem to work at all on my system. The Quartz process just pops up this broken window:

![image](https://user-images.githubusercontent.com/116520/57309095-c5374200-70e7-11e9-8b96-280dcf25732e.png)

I'll try to give 0.92.1 a try!

[2019-05-07 14:55] hedefalk commented on #44
Actually, I don't know how to try Inkscape 0.92.1. The inkscape homepage referrs to this broken homebrew cask for that version which also actually is 0.92.2: https://github.com/caskformula/homebrew-caskformula

That cask is really old gives the following error:

[code]

I'll try to see if I can come up with something. Feel free to close is you like and I'll  reopen if I can repro on other versions

[2019-05-08 15:42] badgeek commented on #44
@hedefalk try https://inkscape.org/pt/release/inkscape-0.92.2/mac-os-x/107/dmg/dl/

[2019-05-08 18:37] hedefalk commented on #44
@badgeek Wow, yes, there it works! Thanks!

[2019-05-16 14:21] ninjatill opened #45 "Prepare document gives lxml dependency error (Windows)."
Hello,

I am using Windows 7 with Inkscape 0.92.4 and svg2shenzhen 0.2.16. When running prepare document, I'm getting an error that the "...lmxml wrapper for libxml2 is required...". I ran an administrator command prompt and ran "pip install lxml". The install finishes successfully. I close Inkscape and reopen and run prepare document again... I get the same dependency error. If I go back to the w

[2019-05-16 14:23] ninjatill commented on #45
Prepare docs dependency error:
![image](https://user-images.githubusercontent.com/15878493/57861515-be35c100-77c4-11e9-8618-a705c5cca8a6.png)

After installing lxml via pip, if I run "pip install lxml" again, I get this message that the package is already installed:
![image](https://user-images.githubusercontent.com/15878493/57861350-6e56fa00-77c4-11e9-8c68-9086871be78c.png)

[2019-05-16 15:11] kasbah commented on #45
It's likely that pip and inkscape are using different versions of python. I believe the plugin only works with python2 and I can see in your screenshot pip is working with python 3.6 (`python_36_64`). Unfortunately I don't use Windows very much so don't know how to resolve it.

[2019-05-17 16:14] ninjatill commented on #45
OK. That makes sense. I'll see if I can resolve that. I have multiple software products on the PC that require different versions.

[2019-06-16 15:57] onitake commented on #34
That is quite far from the truth.

*Most* Linux distributions have a user-writable /tmp, and in most cases, the directory has the sticky bit set, so only the user that created a file or directory in /tmp can remove it.

It's a bit unfortunate thate the FHS does not mandate a particular setup for /tmp, but it does recommend its existence as a place for programs to write temporary data: http://refsp

[2019-06-17 06:25] onitake opened #46 "bitmap2component is not buildable"
It is not possible to build bitmap2component with the shell scripts or cmake files provided with the source code.

It looks like the cmake files were taken directly from the KiCad source code, but they require a lot more build infrastructure and dependencies to compile cleanly.

When running `src/build.sh`, the following error is shown:
[code]

It's also unclear which version of KiCad these source

[2019-06-17 10:49] badgeek commented on #46
hi onitake, the reason that i custom build bitmap2component, the one from kicad does not accept command line parameter...

[2019-06-21 20:06] onitake commented on #46
Thanks for the clarification.
I still think it would be worthwhile to replace the patched bitmap2component with code from svg2mod. Converting vector graphics directly is way better than producing images and running them through potrace to obtain vector graphics again.

In the meantime, here's a PR that will at least allow building bitmap2component with the provided sources: #47

[2019-06-23 01:14] badgeek commented on #46
@onitake i disagree with this, i did this with the early version of svg2sz..it cause many problem and not as flexible as bitmap2component https://github.com/badgeek/svg2shenzhen-legacy

[2019-08-24 13:53] beta-tester opened #48 "TypeError: expected a string or other character buffer object"
hi, i tried to convert a SVG drawing to KiCAD from Inkscape 0.92, but i always get the following exception:
[code]

i have no idea what is going on there...
hope you can help me.

i use Kubuntu 19.04:
`Linux my-pc 5.0.0-25-generic #26-Ubuntu SMP Thu Aug 1 12:04:58 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
`

the inkscape version from ubuntu repository:
`Inkscape 0.92.4 (5da689c313, 2019-01-14)
`

i

[2019-08-24 14:07] beta-tester commented on #48
sorry, my fault...
i forgot to prepare the drawing, before exporting.

[2019-08-24 14:07] #48 closed, assigned to nobody

[2019-08-25 18:54] eckmensch opened #49 "Svg2Shenzhen fails with Python errors in Inkscape 1.0alpha2"
You might be aware that the Inkscape team is currently actively working on the release of Inkscape 1.0. The team already published the second alpha to download. It looks like the Python extension API has slightly changed, so that the extension Svg2Shenzhen is not working any more.

#### Steps to reproduce:

1. Download Inkscape 1.0alpha2: https://inkscape.org/release/1.0alpha2/platforms/
2. Instal

[2019-08-26 00:25] badgeek commented on #49
@eckmensch thanks for the detailed report, i will try to fix this on the weekend, cheers

[2019-08-26 21:38] eckmensch commented on #49
@badgeek This sounds great, thank you for your support!

I'm a bit involved in the testing of the Inkscape 1.0 development branch, preliminary focussed on the Mac version. I just came across an issue that discusses the planned, slight rework of the extension syntax, preliminary to simplify it and make preparations to allow for translation of individual extensions. Maybe this is interesting for you

[2019-08-30 04:16] badgeek commented on #49
where can i download dmg for inkscape 1.0alpha ?

[2019-08-30 07:55] eckmensch commented on #49
Hi Budi,

I'm taking this way to answer, don't have my github credentials handy in the office...

The link to download the dmg is in the issue description: https://inkscape.org/release/1.0alpha2/platforms/

Hope the mail will be delivered to you.

Best Regards

Patrick

[2019-08-31 12:50] badgeek commented on #49
hi @eckmensch, i  have problem when exporting each layer to png, here is the code

`for i in range(0, len(layer_arguments), EXPORT_PNG_MAX_PROCESSES):
            processes = []
            for layer_dest_svg_path, layer_dest_png_path, _, _, _ in layer_arguments[i:i+EXPORT_PNG_MAX_PROCESSES]:
                #export layer to png
                p = self.exportToPng(layer_dest_svg_path, layer_dest_

[2019-08-31 13:45] badgeek commented on #49
testing using inkscape cli to export png:

`[:~ … tents/MacOS] [base] $ ./Inkscape-bin  -C -d 600.0 -e "/Users/xcorex/pcbINK4/.svg2shenzhen-cache/images/F.Cu_g40.png" "/Users/xcorex/pcbINK4/.svg2shenzhen-cache/csvaye8n.svg"

** (process:8073): WARNING **: 20:44:14.539: Units file /work/opt/share/inkscape/ui/units.xml is missing: Failed to open file ?/work/opt/share/inkscape/ui/units.xml?: No such

[2019-08-31 21:35] eckmensch commented on #49
@badgeek Thanks for looking into that! I was able to replicate the described test on my system:

[code]

I will reach out to the Mac developers in the Inkscape development team and come back once I know more...

[2019-09-02 20:05] dehesselle commented on #49
First assessment shows there's a bug in Inkscape's launch script. I need to fix that before we can try again. I'll report back once I have fixed build ready.

Also mind that the launch script `Inkscape` **must** be used, calling the binary `Inkscape-bin` directly does not work by design. (That is the price we pay for having an application bundle.)

[2019-09-04 23:43] dehesselle commented on #49
I've got the export working in my test build. CLI interface has changed for 1.0, the correct command is
[code]
Note that
- DPI has to specified as integer, not floating point
- output file has to specified with `-o`, not `-e`.

Use `Inkscape -?` to check for other relevant changes.

I'll probably get my fixes merged during the weekend and report back here once I have an official build ready.

[2019-09-05 04:27] badgeek commented on #49
@eckmensch @dehesselle  thanks!

[2019-09-05 18:42] eckmensch commented on #49
@dehesselle thanks for taking care and fixing that!

[2019-09-05 20:59] dehesselle commented on #49
Ready for testing.
[code]
http://alpha.inkscape.org/prereleases/Inkscape-1.0.0alpha2_190905_48e7c744.dmg

[2019-09-05 22:37] eckmensch commented on #49
@dehesselle This is brilliant! the version your provided works perfectly!

[code]

I have just one remark. The new Inkscape version seems to miss the final stdout statement:
[code]

[2019-09-06 03:29] badgeek commented on #49
thanks guys i will continue working on saturday cheers!

[2019-10-24 11:51] Juul opened #51 "Doesn't work under 0.92.4 on Lubuntu 19.04"
Fails during export with a `No such file or directory: <export_path>/.svg2shenzhen-cache/drawing.pretty/F.Cu_g19.kicad_mod`

Where `<export_path>` is the path the user specified as the export location.

This is svg2shenzhen version 0.2.17 from the pre-compiled zip file.

Someone else was having a different issue with this version of kicad on macOS in issue #44. Unfortunately 0.92.4 is the version

[2019-10-24 12:10] Juul commented on #51
I just tested this using the latest code from github compiled from source and it gives the same error.

The error is in `processExportLayer` on line 490 in commit e64598ad078543a487c703024ffdf17311aa92aa

[2019-10-24 12:32] Juul commented on #51
Never mind. I must have had some issue with my installation. Re-installed everything and it all works.

[2019-10-27 12:38] alexpacini commented on #2
I still have the same issue in the latest version of the zip (0.2.17).
Maybe you need to use a tar.gz to keep linux file permissions.

[2019-10-27 12:50] alexpacini opened #52 "Fix file permission on Linux and directly install using git"
Similarly to #2 , the latest version is still not working because of a missing executable bit
`chmod +x ~/.config/inkscape/extensions/bitmap2component_linux64`

[code]

I think it is because of the zip archive. A tar.gz should maintain the proper permissions.
Can you add this to the install instructions?

On a side note, is it possible to install this plugin using directly the git repo?
All my fre

[2019-10-27 13:14] alexpacini opened #53 "Create drc compliant custom shaped pads"
I noticed that if I take the connected shapes (as defined in topology: https://en.wikipedia.org/wiki/Connected_space) and place a small smd pad inside each of them, then select both the shape and the pad, I can right click and convert them to a custom shaped pad.
This results in a fully DRC compliant shape.

Do you think to be possible to avoid this additional step and to do it directly inside svg

[2019-10-27 18:38] alexpacini opened #54 "Increase maximum dpi export"
I tried to modify
[code]
to
[code]
and the export was super fine.
Is there any reason to limit the dpi to 2000?
I see it is quite impossible to manufacture a pcb with higher resolution, but for some niche application it might be ok to have a higher limit.
I tried to go over 10000, but the number of lines in the footprint didn't change, so maybe the upper limit is 10000.

[2019-11-03 16:22] drayde commented on #24
I changed export.py to support an optional Drill-NP layer, that generates non-plated holes.
In case you think this is useful not just for me, check out the PR I created: https://github.com/badgeek/svg2shenzhen/pull/55

[2019-11-14 21:52] ccoenen commented on #51
I have the same problem, do you remember anything specific that might need to be changed @Juul ?

[2019-11-15 01:14] Juul commented on #51
@ccoenen Are you using the latest version compiled from source from github? Be aware that the repo includes pre-compiled binaries and when you compile the resulting binary ends up in a different spot. I installed the stable release version, then compiled the binary from the latest code on git, then copied the resulting compiled binary over the previous linux binary in the inkscape plugin dir, then

[2019-11-15 09:23] ccoenen commented on #51
The one linked from "releases", not the zip from master. But I'll try compiling at a different time. I also tried svg2mod, and that worked mostly "OK" for me, so right now I'm not in a great hurry.

[2019-11-15 10:12] badgeek commented on #51
@Juul @ccoenen i think i need to upload tar.gz version since it preserve chmod +x on the bitmap2component executable... the zip on release is already correct i think

[2019-11-22 13:55] Troublebrewing opened #56 "Edge cut scaling and board outline"
I have an svg file created up using Inkscape 0.92.4 on Windows and the 0.2.17 release of svg2shenzhen. The export process appears to complete as expected but the resulting Kicad pcb has the edge cuts scaled approximately four times larger than it should be, and offset from the silk and mask renders. The mask and silk layers appear to be scaled correctly.
[Luna.zip](https://github.com/badgeek/svg2s

[2019-11-22 21:27] Thijxx opened #57 "Exports empty file in Linux"
Running Ubuntu
Downloaded latest version from Releases

The help screen does not show the version, it shows SVGSZ_VER
All layers are 'disabled' except Edge.Cuts and F.Cu
I fixed the permissions on `bitmap2component_linux64`
The `.kicad_pcb` is created but there are no layers in there

**[edit]**
In Windows it works right away.
Unfortunatly the resulting PCB file does not render with message "canno

[2019-11-23 03:25] Troublebrewing commented on #56
Partly solved the issue. After Breaking apart the edge cut path into single loops using the break apart command, all the resulting paths are grouped. Ungrouping these paths resolves the scaling issue but Kicad is still unable to determine the board outline.

[2019-11-25 14:49] Troublebrewing commented on #56
The edge cut puth that svg2shenzhen generates has a small unattached segment which I found using the DRC. I haven't seen this behavior in other projects so I'm guessing it was something specific to the path I was asking it to export.

[2019-11-25 14:49] #56 closed, assigned to nobody

[2019-12-02 03:23] biggestsonicfan opened #58 "Error when attempting to export to Kicad"
The error occurs when clicking "Apply" on the "2. Export Kicad" window when exporting as a "KICAD - Module":

  File "export.py", line 752, in <module>
    _main()
  File "export.py", line 748, in _main
    e.affect()
  File "C:\Program Files\Inkscape\share\extensions/inkex.py", line 283, in affect
    self.effect()
  File "export.py", line 322, in effect
    self.setInkscapeScaling()
  File "expo

[2019-12-30 08:22] brama-coder opened #59 "Drill holes not showing up"
Trying to export my design but holes not appearing as non plated through holes (no holes appearing at all). I have to physically place them in kicad. Also, would like a way for plated holes to be automatically placed.

Heres a link to the SVG

file:///C:/InkscapePCBDrawings/Ralley.svg

[2019-12-30 09:42] LycheeYum opened #60 "Only the "Edge.Cut" and "Drill" Layers are being exported to Kicad"
Windows 10
Inkscape 0.92.4
KiCad 5.1.5

As the title states I'm only able to get the Edge.Cut and Drill layers to export to KiCad.

I've tried with multiple inskcape files, even the sample viruspcb.svg located in the repository, all the the same results.

[2020-01-05 02:06] yiancar commented on #49
Hello!
Did we figure out a way to get vsg2shenzhen working on version 1 of inkscape?

[2020-01-06 02:08] ussjoin commented on #49
@badgeek Same question as above. I'm on 1.0beta2 (I'm on Catalina, so the previous version doesn't work on this computer anyway, and the SVG I'm working with crashes the stable (0.9.x) Inkscape when opened under a previous version of OSX) and it's not enormously clear how to modify what I'm doing to make svg2shenzen work. (Apologies if I'm missing something obvious, please feel free to point me to

[2020-01-06 04:26] badgeek commented on #49
@ussjoin @yiancar unfortunately inkscape 1 support is pending due to changes in the inkscape api, if i have enough time i will work on it again

[2020-01-06 04:39] badgeek commented on #49
@ussjoin if export has no output files, maybe bitmap2component need to be chmod +x first

[2020-01-06 11:17] yiancar commented on #49
Thank for the reply @badgeek. As @ussjoin said, sadly, 0.9.x versions of inkscape no longer work on the newer versions of OSX.

[2020-01-06 12:21] badgeek commented on #49
@yiancar can you check the output of ./bitmap2component_osx in terminal ?

[2020-01-07 04:30] ussjoin commented on #49
![Screen Shot 2020-01-06 at 7 44 05 PM](https://user-images.githubusercontent.com/32540/71868483-22debc80-30c3-11ea-926a-a5cc32e73538.png)

@badgeek bitmap2component was already chmod +x, but when I ran it in the terminal, I got that popup from Gatekeeper; once I overrode it I got a more normal usage output.

[code]

So with that fixed, I tried the export again. Still, sadly, no outputs of any kin

[2020-01-07 07:30] badgeek commented on #49
@ussjoin its because you're on inkscape 1.0, for now you can use prev version of inkscape and try to run bmp2component again and enable it on gatekeeper

[2020-01-10 18:11] ehafh opened #61 "Only 'help' available from extension"
Installed inkscape and svg2shenzhen. When navigating to the extension in inkscape it only has option 0 'help'. Prepare and export do not show up at all. Have tried with a new inkscape blank file, and example svg files plus my own.

Any idea's?
Win 10

[2020-01-23 10:12] philtrick-twm opened #62 "exception in simplepath.py"
Hi, I have just installed the extension and I'm getting the following error:

Traceback (most recent call last):
  File "prepare.py", line 11, in <module>
    import simplepath, simpletransform
  File "/usr/share/inkscape/extensions/simplepath.py", line 51
    raise Exception, 'Invalid path data!'
                   ^
SyntaxError: invalid syntax

This is on Fedora31 with Inkscape 0.92

[2020-01-23 21:02] blark commented on #11
Agree 100% if you use a lot of copper on one side of the PCB you're currently severely limited in vias which makes even moderately complex designs hard or impossible to do. If shapes were filled zones that you could run a via into it would be really nice.

[2020-01-24 20:16] Mr-Blonde commented on #61
I am having the same exact problem (with no solution).

I am on Inkscape 1.0beta2 (only available version for Mac OS 10.15). Does the plugin not work with version 1.0?

[2020-01-25 08:05] Mr-Blonde commented on #61
I guess, I found the problem with my installation. The extension log file was complaining that it couldn't find the Python scripts.

_What I did to resolve it:_
I copied the scripts (+ any other files) from the svg2shenzhen subdirectorie into the extension's main directory.

i.e.:
**from <path to Inkscape extensions>/svg2shenzhen-extension-0.2.7/svg2shenzhen
to <path to Inkscape extensions>/svg2sh

[2020-01-25 09:03] Mr-Blonde commented on #49
The problem here is that export.py is written for Python2.7 and your Inkscape is invoking it with Python3 (there is no iterkeys() in Python3).

The solution to this is to explicitly tell Inscape to run this extension with Python2.7

Here is how:
https://stackoverflow.com/questions/52046845/changing-the-python-interpreter-for-inkscape

---

This fixes the above mentioned errors. On Mac OS 10.15 wit

[2020-02-08 17:37] Moonbase59 commented on #52
Same here, almost wanted to give up. The …_osx has the executable bit, albeit the …_linux64 hasn’t.

[2020-02-08 19:08] Moonbase59 opened #63 "Different solder mask clearance?"
I need to produce a "shine-through" PCB (text with LEDs behind). I can put an exact duplicate of my text on the F.Cu and F.Mask layers but the letters on the Mask will always be "bigger" (i.e. some solder mask clearance is auto-added). Changing the solder mask clearance in PCBnew afterwards doesn’t help.

The PCB looks really awful with the copper layer "bleeding" into the letters …

Is there any

[2020-02-09 14:13] besi opened #64 "Error on export"
I'm in a PCB workshop with the fabulous @morgulbrut. I'm trying to make some #badgelife pcb art (currently mostly black squares).

I can prepare the document (with some deprecation warnings). Then I got an error.
I did switch to python 2.7 like described [here](https://stackoverflow.com/questions/52046845/changing-the-python-interpreter-for-inkscape).

I did restart Inkscape and then got the follo

[2020-02-09 14:21] yene commented on #64
same problem here macos 10.15.2

[2020-02-09 14:26] besi commented on #64
There is a similar pickle related issue #49 but it's not the exact same error message.

[2020-02-09 14:39] kasbah commented on #64
A quick work around, to get ahead in the workshop could be to disable the options pickling by commenting out the two lines:

https://github.com/badgeek/svg2shenzhen/blob/e64598ad078543a487c703024ffdf17311aa92aa/inkscape/svg2shenzhen/export.py#L396-L397

[2020-02-11 13:04] Jegeva commented on #60
read the doc :) (ie. remove -disabled from the layer name)

[2020-02-11 13:06] Jegeva opened #65 "if a layer is empty but not -disabled, the export crashed"
Linux, inkscape 0.92.4
to reproduce : empty F-Cu (for ex)l layer in default setup, export

-> error stating that the F.Cu file doesn't exist

manual fix, disable the empty layer but any empty layer should be auto disabled

[2020-02-11 14:28] #65 closed, assigned to nobody

[2020-02-11 14:30] Jegeva opened #66 "Unclear in the documentation, please update"
The extention contains a CLI version for the png2composant executable. If it is not chmod+x'ed underlinux, any layer that is enabled and relying on a component creation will make the export crash due to the .kicad_mod not existing.

chmod +x 'ing the executable solves the problem but it should be clear in the install doc.

[2020-02-12 20:40] kasbah commented on #66
Thanks for reporting but it's a duplicate of #2 (oh, it's closed :thinking: ?) and #52

[2020-02-12 20:40] #66 closed, assigned to nobody

[2020-03-04 17:34] sabas1080 opened #67 "Error with Inskcape 1.0 beta and Catalina MacOS"
Hi

I am using the lastet version of inskcape because I have MacOS Catalina, i have the next error in export kicad

[code]

Thanks

[2020-04-03 18:10] arduino12 commented on #63
Hi,

I think this is our problem (taken from the generated kicad file):
![image](https://user-images.githubusercontent.com/11454280/78391341-db4acc80-75ee-11ea-85c7-3ada2720cfaa.png)

**`svg2shenzhen` needs to set the `solder mask clearance` to 0 before adding the layers...**

How can we fix it in the code? (setting it after the script doesn't work..)

Thanks,
Arad

[2020-04-11 05:13] farnstrom commented on #62
I had this problem too (as well as a bunch of others to deal with, like the Inkscape-1.0-beta RPM on Fedora 31 not including the extensions). I figured out how to fix it. The problem is that in Fedora 31 Python 3 is the default, which seems to not work with this extension. I followed the instructions here: https://wiki.inkscape.org/wiki/index.php/Extension_Interpreters, pointing to /usr/bin/python

[2020-04-14 08:10] liquidcitymotors commented on #49
Hello!

Before seeing this, I went through the process of editing the export.py script to work with 1.0rc1 and python3. It didn't need too many changes, just the python version changes, the issue of the "output" argument in the pickled options, and the CLI syntax updates.

I ran into the EOF error, that happens when the script exits before actually writing anything to options.pickle in the hidden

[2020-04-14 09:28] badgeek commented on #49
please share! it would help me port to inkscape 1.0, thanks for your
contribution

On Tue, Apr 14, 2020 at 3:10 PM Will Mitchell <notifications@github.com>
wrote:

--
Budi Prakosa
e: iyok@deadmediafm.org | budi.prakosa@gmail.com
p: +62 811 268 995
w: manticore.deadmediafm.org | lifepatch.org

[2020-04-15 01:29] liquidcitymotors commented on #49
great! this is my first contribution to an open source project so I wasn't sure how to proceed. you can find the changes I tried here:

https://github.com/liquidcitymotors/svg2shenzhen/commit/f884a15ee64ada80548fb645baa9e89f2f357ee7

I am not confident enough with them to do a pull request, but this is working on macos 10.14.5 with inkscape 1.0rc1 and the latest nightly of kicad. let me know if I

[2020-04-27 13:43] twinkletwinkie opened #71 "SVGSZ_VER Instead of 0.2.17"
OS: Windows 10
Inkscape Ver: 0.92.4

When svg2shenzhen is installed instead of display "0.2.17" it shows "SVGSZ_VER" where the version number should be displayed.

[2020-04-27 20:10] joanbono commented on #71
Same error on macOS 10.15.4 with Inkscape 1 beta and Debian 10 with Inkscape 0.92.4

[2020-05-02 22:30] rcludwick commented on #71
Also with ubuntu using the latest inkscape snap.

[2020-05-02 22:32] rcludwick commented on #67
Looks like it needs to be:  if layer_label_name in self.layer_map

[2020-05-02 22:34] rcludwick commented on #63
Also having played around with that, it's looks like on kicad 5.1.5 the solder mask isn't rendered correctly until you generate the gerbers.  So the 3d viewer doesn't respect it apparently.

[2020-05-04 13:47] mplacona opened #72 "Edge cuts never align"
Hey, I followed @twinkletwinkie's videos and everything has worked beautifully other than the fact that when I try to have multiple layers under a layer and try to export I get an error with the plugin. I went around this by just having everything on the same layer (i.e. registration and board outline all under Edge.Cuts) and it's all good.

My problem though is that I am unable to get the Edge cu

[2020-05-04 14:10] kasbah commented on #72
Just a quick guess, not sure at all: maybe you have put things in a group on the edge cut layer? Groups need to be avoided on edge cuts and drill layers.

[2020-05-04 17:28] mplacona commented on #72
Pretty sure I will have done that. What's the alternative in Inkspace?

[2020-05-04 18:09] kasbah commented on #72
It's not really about alternatives, currently you need to ungroup everything on the drill and edge cut layers before exporting using svg2shenzhen (unless this has been improved since I last looked at the code).

[2020-05-04 19:48] mplacona commented on #72
That totally did it @kasbah! Thank you so much! I ungrouped and they all came aligned together!

[2020-05-04 19:48] #72 closed, assigned to nobody

[2020-05-09 14:09] smiler opened #73 "svg:use elements are not supported"
I use a lot of clone objects through the `<svg:use>` element in my designs. Currently these seem to be ignored by the exporter.

[2020-05-09 14:40] AEFeinstein commented on #67
I'm seeing this on Windows as well, with the Inkscape 1.0 release (not beta).

[2020-05-11 16:44] HebrewzHammer commented on #67
Same here.

Looks like Inkscape v1.0 now uses Python 3 instead of 2. So svg2shenzhen will need to be updated to work with Python 3.

The "iterkeys" is a simple fix, but the next issue is it's trying to use pickle on an object that contains file objects, which won't work. I haven't taken a close look, but it's probably an easy fix since I doubt svg2shenzhen actually cares about those file objects b

[2020-05-11 16:56] HebrewzHammer commented on #67
Just saw this has already been discussed in #64 and #49 .

[2020-05-14 15:53] okelk opened #74 "not working in Inkscape 1.0"
export.py:224: DeprecationWarning: Effect.OptionParser or `optparse` has been deprecated and replaced with `argparser`.You must change `self.OptionParser.add_option` to `self.arg_parser.add_argument`; the arguments are similar.
  self.OptionParser.add_option("--path", action="store", type="string", dest="path", default="~/", help="")
export.py:225: DeprecationWarning: Effect.OptionParser or `optpa

[2020-05-14 18:28] giuliomoro commented on #74
confirmed

[2020-05-15 05:03] grantbreaksthings commented on #71
Same error on Debian Buster, Inkscape 0.92

[2020-05-15 19:51] hhaudio commented on #74
I am getting this error as well on Inkscape 1.0 OSX 10.14.6

[2020-05-15 19:51] hhaudio commented on #74
export.py:224: DeprecationWarning: Effect.OptionParser or `optparse` has been deprecated and replaced with `argparser`.You must change `self.OptionParser.add_option` to `self.arg_parser.add_argument`; the arguments are similar.
  self.OptionParser.add_option("--path", action="store", type="string", dest="path", default="~/", help="")
export.py:225: DeprecationWarning: Effect.OptionParser or `optpa

[2020-05-19 21:58] fstokke commented on #74
Inkscape has changed the extension API in version 1.0. I have been working on a patch to svg2shenzhen to adapt to the new API. I think I got it working today :) I will clean up the code and submit a pull request.

[2020-05-19 22:32] khaapamyaki commented on #74
I was able to make it work on MacOS Catalina 10.15.3 with the help of the following guide and some additional changes

[Updating your Extension for 1.0](https://wiki.inkscape.org/wiki/index.php/Updating_your_Extension_for_1.0)

https://github.com/daskycodes/svg2shenzhen/commit/b0dbf671f4559c7dd3245821dc44d9617c5ee95c

The export works but still gives me the following messages

[code]

[2020-05-21 09:16] fstokke opened #75 "bitmap2component puts F.SilkS layer onto F.Cu layer in generated footprint"
I have been running svg2shenzhen from the master branch (065be79). It seems like there is a problem with the precompiled bitmap2component in the inkscape folder. It puts the F.SillkS layer onto the F.Cu layer in the generated kicad_mod footprints.

I'm running Inkscape 0.92.5 on Linux. I have also tested on Windows and same problem there. The bitmap2component.exe from the 0.2.17 release seemed to

[2020-05-21 09:59] fstokke commented on #74
I have submitted a pull request with support for Inkscape 1.0 (#76). Hopefully someone on the development team can review it.

[2020-05-27 02:50] Xcreed opened #77 "Unable to export Inkscape 1.0 MacOS 10.15.4"
I've been following the steps from #74 but now I'm getting this error:

[code]

Not sure if this is caused by the relative path. I'm using ~/Documents, but have also tried the absolute path.

[2020-05-27 08:33] fstokke commented on #77
Have you tried the updated [export.py](https://github.com/badgeek/svg2shenzhen/blob/f34105e6eecb56c29af639a1eef4df94befa39d3/inkscape/svg2shenzhen/export.py) I submitted in pull request #76?

[2020-05-27 15:36] Xcreed commented on #77
I thought I did. I just used your code for export.py and now I'm getting this error. Tried Kicad PCB and Module, same results.

[code]

The error seems to be on my Edge.Cuts layer, removed it and it worked just fine. No idea how to fix the layer though.

[2020-05-27 16:33] fstokke commented on #77
Are you able to reproduce the error with any of the example svgs shipped with svg2shenzhen?
Does it work with the previous version of Inkscape/svg2shenzhen?

[2020-05-28 05:38] Xcreed commented on #77
Going back to this. The virus.svg file works which makes me feel the error is on my file. I keep getting the same error:

[code]
Turns out this error isn't thrown if there's nothing nested inside the layers. My layout below was triggering the error.

![image](https://user-images.githubusercontent.com/8339826/83102760-7b165b00-a072-11ea-8fc8-6e9852d63999.png)

After removing the nested files it kin

[2020-05-28 06:04] Xcreed commented on #77
Update: No idea what's going on with the Edge.Cuts issue, tried again and worked just fine. One thing I realized, when taking things out of the "nested" groups, you need to the remove that group object otherwise it will continue to give errors.

No idea if this is my case specifically, but trying to export will make the F.SilkS a F.Cu layer (tested with my design and the virus.vsg). Opening the F.

[2020-05-28 07:53] badgeek commented on #75
hi @fstokke is this already in your PR ?

[2020-05-28 09:04] fstokke commented on #75
Hi @badgeek. No it's not in my pull request. In the pull request I just reverted the .exe for windows and replaced it with the one you released in the zip for the 0.2.17 release.

But the problem also applies to the pre-compiled Linux and Mac executables that are currently in the master branch.

I don't have the development setup for building the executables myself. Is this something you can fix?

[2020-05-28 09:08] fstokke commented on #75
I see that you have merged my pull request. Thanks :)

The executables for all plattforms probably need to be updated with correct handling of the silk screen layer.

[2020-05-29 07:17] fstokke commented on #77
Great that you got it working :) I have not had any problems with exporting paths in the Edge.Cuts layer. I have also noticed the problem with the silk screen being put on the Cu layer, see Issue #75.

[2020-06-18 21:05] hyuma78 opened #78 "Error on export on KiCAD"
Traceback (most recent call last):
  File "export.py", line 752, in <module>
    _main()
  File "export.py", line 748, in _main
    e.affect()
  File "/usr/share/inkscape/extensions/inkex.py", line 289, in affect
    self.effect()
  File "export.py", line 324, in effect
    self.processExportLayer()
  File "export.py", line 474, in processExportLayer
    f.write(kicad_drill_string)
TypeError: expe

[2020-06-18 21:53] hyuma78 commented on #78
I made some chmod +x on files inside /usr/share/inkscape/extensions

and now:

inkscape C -d 600.0 -e "/home/hyuma/.svg2shenzhen-cache/images/F.Cu_g84.png" "/home/hyuma/.svg2shenzhen-cache/5zbA87"
"/usr/share/inkscape/extensions/svg2shenzhen/bitmap2component_linux64" "/home/hyuma/.svg2shenzhen-cache/images/F.Cu_g84.png" "/home/hyuma/ironman-face-png-7.pretty/F.Cu_g84.kicad_mod" F.Cu true 600 5

On

[2020-07-24 10:56] x70b1 opened #80 "silkscreen is exported as copper"
I found out that `svg2shenzhen` translates the silkscreen layer to a copper layer. But thats obviously wrong.
To fix this I can manually edit the layer in the exported `.kicad_pcb` file. That would work.

Maybe it was my mistake. I tried a lot of things. But I always came to the same conclusion.

The `svg2shenzhen` was build from the latest commit on master branch.
Inkscape is 1.0 (4035a4fb49, 202

[2020-07-27 17:29] jollydodo commented on #80
Same problem here. Any idea what could be causing this issue? (Using MacOS 10.15.6 and the latest commit)

[2020-07-31 09:49] fstokke commented on #80
I think this is a problem with the latest builds of bitmap2component.exe, see issue #75. On Windows I tried reverting to the previous version and that one worked OK.

[2020-08-01 10:40] x70b1 commented on #80
@fstokke do you know what is required to fix this?

[2020-08-03 10:36] amcewen commented on #75
I've been running the version from https://github.com/badgeek/svg2shenzhen/commit/77eda90fd8ec4fa33a9d1ba870d9fee403698fcb so I could use it with Inkscape 1.0 (thanks for the PR @fstokke!) and was hitting this problem with the pre-built `inkscape/svg2shenzhen/bitmap2component_linux64`.

I re-built it from source and that seems to be working okay - I've not done lots of testing on it, but it is put

[2020-08-03 12:05] fstokke commented on #80
I see @amcewen has fixed the problem on Linux by recompiling bitmap2component from source (see issue #75), so maybe a recompile will fix the problem on Mac as well. Unfortunately I don't have the build environment for compiling from source.

[2020-08-03 15:07] x70b1 commented on #80
I am on linux and I used `make` to rebuild bitmap2component binary.
This seems to fix the issues.

We should update the binaries and close all the copper/silkscreen issues.

[2020-08-09 12:53] iharshadec opened #81 "EdgeCut Layer is not combining with Other Layers - Inkscape Export"
Hi Everybody,
After Exporting to .kicad_pcb my edgecut layer stays away from the other exported layer.
I am using Inkscape 1.0

Here is the Art - also attched as a .zip as .svg is not allowed here.
![image](https://user-images.githubusercontent.com/20681096/89732487-d7cbc400-da6c-11ea-87c4-661db7a7d1bf.png)

**Exporting Settings**
![image](https://user-images.githubusercontent.com/20681096/8973252

[2020-08-12 04:52] iharshadec commented on #71
Same text I see on Win 10 + Inkscape 1.0 version.

[2020-08-12 04:53] #81 closed, assigned to nobody

[2020-08-17 03:39] badgeek commented on #78
what is your inkscape version?

[2020-08-17 03:40] badgeek commented on #74
this will be fixed in v .18 and release is really soon

[2020-08-17 03:40] #74 closed, assigned to nobody

[2020-08-17 03:41] badgeek commented on #80
@x70b1 @fstokke this will be fixed in v.18 with your PR @fstokke thank you, with new build system using travis i hope its easier to update

[2020-08-17 03:41] #80 closed, assigned to nobody

[2020-08-17 03:42] badgeek commented on #77
@Xcreed fcu and fsilk bug will be fixed in v.18, realease is real soon

[2020-08-17 03:42] #77 closed, assigned to nobody

[2020-08-17 03:42] #67 closed, assigned to nobody

[2020-08-17 03:42] #64 closed, assigned to nobody

[2020-08-17 03:43] badgeek commented on #64
@besi @yene this will be fixed in v.18 i will soon release it

[2020-08-17 03:43] badgeek commented on #71
fixed in latest build v.18

[2020-08-17 03:43] #71 closed, assigned to nobody

[2020-08-17 03:44] badgeek commented on #75
@amcewen check v.18 i will release it soon, this bug already fixed

[2020-08-17 03:44] #75 closed, assigned to nobody

[2020-08-17 03:44] #57 closed, assigned to nobody

[2020-08-17 03:45] badgeek commented on #61
@Mr-Blonde for inkscape v.1 check out latest svg2sz update v.18

[2020-08-17 03:45] #61 closed, assigned to nobody

[2020-08-17 03:45] #44 closed, assigned to nobody

[2020-08-17 03:46] #46 closed, assigned to nobody

[2020-08-17 03:46] #49 closed, assigned to nobody

[2020-08-17 03:47] badgeek commented on #49
@liquidcitymotors inkscape 1.0 will be supported on v.18 i will release it soon thank you

[2020-08-17 03:48] #63 closed, assigned to nobody

[2020-08-17 03:48] #62 closed, assigned to nobody

[2020-08-17 03:49] #59 closed, assigned to nobody

[2020-08-17 03:49] #52 closed, assigned to nobody

[2020-08-17 03:50] #45 closed, assigned to nobody

[2020-08-17 03:50] #60 closed, assigned to nobody

[2020-08-17 03:51] #1 closed, assigned to nobody

[2020-08-17 03:52] badgeek commented on #73
it should not be, check out where is your clone layer at?

[2020-08-17 03:53] badgeek commented on #58
what is your os, inkscape version?

[2020-08-17 03:54] #51 closed, assigned to nobody

[2020-08-17 03:55] #26 closed, assigned to nobody

[2020-08-17 05:25] #7 closed, assigned to nobody

[2020-08-17 06:19] biggestsonicfan commented on #58
OS was Windows 10 x64 Home (however this is no longer my daily driver) and Inkscape version 0.92.4 (thankfully not updated since this bug was filed).

[2020-08-17 11:21] badgeek commented on #58
please update your inkscape to v1 and i just released svg2sz v0.2.18 that only work inkscape v1

[2020-08-17 17:24] smiler commented on #73
I don't have the file I had issues with left, I ended up redoing the design without clone objects so unfortunately I can't give you a repro. Should've attached the file when I reported the bug, sorry :(

[2020-08-18 00:29] biggestsonicfan commented on #58
Updated. This issue no longer exists. I will create new issues as I find them. Thank you for your continued support in this project.

[2020-08-18 00:29] #58 closed, assigned to nobody

[2020-08-18 00:37] biggestsonicfan opened #83 "Default export path in Windows initialized to linux-like path "~/""
https://github.com/badgeek/svg2shenzhen/blob/77eda90fd8ec4fa33a9d1ba870d9fee403698fcb/inkscape/svg2shenzhen/export.py#L257

Upon exporting to this "path" in Windows, I have no idea where it goes.

Possibly consider using `os.environ['HOME']` as described [here](https://docs.python.org/3/library/os.html#os.environ), as you already `import os`.

[2020-08-18 06:01] badgeek commented on #73
np @smiler sorry for late repond

[2020-08-18 06:01] #73 closed, assigned to nobody

[2020-08-18 14:52] Tom-Archer commented on #32
Here's another couple of mine: http://tomarcher.co.uk/2019/11/16/pcb-pin-badges-roberto/
http://tomarcher.co.uk/2020/05/16/pcb-pin-badges-clamps-sao/

You've got two of my Skeletor badges on the front page image so I don't mind if you remove the non-illuminated one 😉

[2020-08-18 16:08] twinkletwinkie commented on #54
My pull request the other day updated the max from 2,000 to 3,600.  The reason for that limit vs 10,000 is simply because no fab supports such high resolutions in the first place and at 1,200 most artifacts that may be caused by exporting at 600 DPI are addressed which is why as of 0.2.18.2 the default resolution is 1,200.   Going above 3,600 only increases the file size of the part & gerbers and

[2020-08-18 17:06] atomworks opened #85 "Drill sizes too big after exporting to KiCad"
When I export my drilling layout in correct but the drilling sizes are all 10x too big. For example, I have holes that are 6mm in Inkscape but are 60mm once in KiCad. The positioning is correct however... is it something I'm doing wrong?

I'm on Inkscape v1.0 with the very latest 0.2.18.3 release of svg2shenzhen though I was having the same issue before I updated those today.

[2020-08-18 19:24] twinkletwinkie commented on #85
Can you share a svg with just the drills please?

[2020-08-19 03:32] atomworks commented on #85
Sure thing, here you go.

[drill.svg.zip](https://github.com/badgeek/svg2shenzhen/files/5093865/drill.svg.zip)

[2020-08-19 03:50] #54 closed, assigned to nobody

[2020-08-19 03:51] #83 closed, assigned to nobody

[2020-08-19 16:04] iharshadec opened #88 "Export Error with multiple art in F.SilkS"
svg2shenzhen - 0.2.18.5
inkscape - 1.0
OS - Windows 10

Export Settings
![image](https://user-images.githubusercontent.com/20681096/90660165-30684180-e263-11ea-807c-820648222d05.png)

Export Error
![image](https://user-images.githubusercontent.com/20681096/90660137-26ded980-e263-11ea-9128-dcaeee713956.png)

.svg file
[pcbArt.zip](https://github.com/badgeek/svg2shenzhen/files/5097665/pcbArt.zip)

[2020-08-19 20:15] herpiko opened #89 "Extension menu items (prepare document & export to kicad) are disabled"
I'm using the latest version (0.2.18.5). However the About menu is not disabled and can be clicked, showing the about dialog as expected. I've tried to downgrade the version but it didn't work either.

### Ubuntu 18.04 with Inkscape 1.0 (1.0+r73+1) from PPA (ppa:inkscape.dev/stable)
![svg2shenzhen-ubuntu](https://user-images.githubusercontent.com/2534060/90684873-19d9de80-e293-11ea-844c-830ae5bb56

[2020-08-20 02:14] badgeek opened #90 "Prepare document throw error"
![screenshot_1724](https://user-images.githubusercontent.com/64752/90709057-8968c180-e2c5-11ea-96de-96219b4a23dd.png)

[2020-08-20 02:17] badgeek commented on #90
@twinkletwinkie  kicadLayers.items returns dict_keys which need to be wrapped with list(... )

[2020-08-20 02:18] badgeek commented on #90
https://github.com/badgeek/svg2shenzhen/blob/0dc743cd4518bfae795154d72c53b5ebeff8f7e2/inkscape/svg2shenzhen/prepare.py#L172

[2020-08-20 02:24] badgeek commented on #89
@herpiko Hi, we havent test the extension with inkscape 1.1-dev yet, please try with inkscape 1.0 instead, why would you use dev version of inkscape?

[2020-08-20 02:31] badgeek commented on #88
@iharshadec i just checked your file and the layers is not properly named, i need file with proper layer

[2020-08-20 02:46] badgeek commented on #85
![screenshot_1726](https://user-images.githubusercontent.com/64752/90711054-ef574800-e2c9-11ea-988f-e753546b908d.png)

i copy paste your drill to another svg file (viruspcb) and its correctly sized, can you prepare a new file then export again?

[2020-08-20 03:19] badgeek commented on #89
please use svg2sz latest v0.2.18.6 https://github.com/badgeek/svg2shenzhen/releases/tag/0.2.18.6

[2020-08-20 03:45] iharshadec commented on #88
I have generated layers with prepare document options only.
There is all layers that I did checkboxes while preparing document. In addition to that I have added Extra layer to put some extra/tirals on it.

Layers
![image](https://user-images.githubusercontent.com/20681096/90714573-9be2fb00-e2c5-11ea-862d-a2699c25fdd3.png)

Objects
![image](https://user-images.githubusercontent.com/20681096/9071458

[2020-08-20 03:53] twinkletwinkie commented on #85
I'm seeing a lot of holes called "3.5mm" but they're showing 6x6mm.

![image](https://user-images.githubusercontent.com/5308062/90715059-23554d80-e277-11ea-943b-56fa8f3b1308.png)

[2020-08-20 04:01] iharshadec commented on #88
I got this working. I think there was some problem with my antivirus which was blocking bitmap2component.exe file and because of that this error was coming there.

[2020-08-20 04:01] #88 closed, assigned to nobody

[2020-08-20 04:35] badgeek commented on #90
- Fixed in https://github.com/badgeek/svg2shenzhen/releases/tag/0.2.18.6

[2020-08-20 04:35] #90 closed, assigned to badgeek

[2020-08-20 04:37] twinkletwinkie commented on #90
Strange. I don’t understand why that would throw an error now when it doesn’t on my computers.

[2020-08-20 04:43] badgeek commented on #90
what is your OS/inkscape version? @twinkletwinkie

[2020-08-20 04:45] badgeek commented on #90
this is the tricky part with python inside inkscape, that is why i have big mess of ifs to keep the code minimal, i hope this will not break again

[2020-08-20 04:48] twinkletwinkie commented on #90
Windows 10 1909 and Inkscape 1.0

[2020-08-20 05:16] badgeek commented on #90
For note: broken on Inkscape 1.0 (4035a4f, 2020-05-01) OSX 10.13.6 (17G11023) High Sierra

[2020-08-20 05:55] atomworks commented on #85
@badgeek I've tried copying it to new documents a few times. Each time though I export the SVG with the drill data that has actually been generated by a different artwork package. I'll try to copy it from Inkscape to Inkscape if that seems to cause you no issues.

@twinkletwinkie Sorry for the confusion there. It says 3.5mm because the holes are for 3.5mm audio jacks (which are 6mm wide).

[2020-08-20 12:34] twinkletwinkie commented on #85
@atomworks I found your problem.  I think your program you're creating it in is adding more data to the circles than intended.  SVG files are plain text so you can review their source and all of the circles in that document has
`transform="scale(0.1)"` on them but when I drew another circle it does not have that transform property.   If I do what @badgeek did and copy/paste the circles into anothe

[2020-08-20 12:46] herpiko commented on #89
@badgeek Thanks for your fast response.

Ok, I'll try it with 0.2.18.6.

[2020-08-21 03:20] atomworks commented on #85
Thanks for the information @twinkletwinkie. I took a look in to the files I'm importing in to Inkscape and their really minimal however because my source program works in px, when I import the SVG and resize it to mm Inkscape adding the scaling as part of this. I'm sure the previous version on Inkscape handled it differently perhaps as I used this workflow for a start and didn't have this issue.

[2020-08-21 03:20] #85 closed, assigned to nobody

[2020-08-21 05:48] aa956 commented on #89
0.2.18.6 just behaved the same way on Windows when installed into svg2shenzhen subdirectory of Inkscape user extensions directory:

So menu items disabled if extension unpacked to:
%APPDATA%/inkscape/extensions/svg2shenzhen/

menu items enabled if extension unpacked directly to:
%APPDATA%/inkscape/extensions/

[2020-08-21 06:49] badgeek commented on #89
@aa956 what is your inkscape version?

[2020-08-21 06:56] aa956 commented on #89
Inkscape version: 1.0 (4035a4fb49, 2020-05-01)

[2020-08-21 07:10] badgeek commented on #89
directory layout should be like this :
![screenshot_1728](https://user-images.githubusercontent.com/64752/90862698-04aaa000-e3b8-11ea-86e8-bbd45e4ae6a8.png)

i think i need a better install instructions

[2020-08-21 07:21] aa956 commented on #89
Another option is to change inx file from:
[code]
to
[code]
as recommended here: [Updating your Extension for 1.0
](https://wiki.inkscape.org/wiki/index.php/Updating_your_Extension_for_1.0)

If I understand correctly this change will enable installation anywhere under extensions directory?

[2020-08-21 15:42] badgeek commented on #89
@aa956 thanks for pointing this out, will try later

[2020-08-21 15:42] #89 closed, assigned to nobody

[2020-08-22 09:49] hoijui commented on #78
https://github.com/badgeek/svg2shenzhen/pull/97 fixes this

[2020-08-23 02:58] #78 closed, assigned to nobody

[2020-08-23 05:30] iharshadec commented on #32
Some more
https://twitter.com/scienceoxford/status/1194939907044761611
https://twitter.com/concreted0g/status/1179742944699539457

[2020-08-24 06:38] atomworks commented on #85
Some information for anyone else who might arrive here with a similar problem...

It seems that Inkscape is generating the `transform="scale(0.1)"` code which is causing the problem. It seems that this is part of the way it imports SVGs. This isn't a problem if you use Inkscape for everything in the first place but that's not how I prefer to do it.

So, if you have this issue, once you've saved yo

[2020-08-26 13:56] GuillermoTell opened #100 "Export error"
Hi, no idea about what's going on here. No Edge.Cuts exported. It doesn't finish exporting the module and gives this error:

Traceback (most recent call last):
  File "export.py", line 750, in <module>
    _main()
  File "export.py", line 746, in _main
    e.run()
  File "C:\Program Files\Inkscape\share\inkscape\extensions\inkex\base.py", line 123, in run
    self.save_raw(self.effect())
  File "e

[2020-08-26 17:16] GuillermoTell commented on #100
I don't know why, but if you enable all the layers when you prepare the document it works. I was using just Edge.Cuts, F.Cu and F.Mask-auto. Is there any mandatory layer?

[2020-08-26 18:24] badgeek commented on #100
for now drill layer is mandatory, i will fix on weekend

[2020-08-27 03:20] linted opened #101 "Svg2ShenzhenPrepare instance has no attribute 'run'"
I just tried upgrading to `0.2.18.7` in `Inkscape 0.92.3 (2405546, 2018-03-11)` on Ubuntu 18.04. When attempting to run the prepare document function, I get the following error:
[code]

[2020-08-27 03:27] badgeek commented on #101
Please use inkscape 1.0

On Thu, Aug 27, 2020 at 10:21 AM Mike Merrill <notifications@github.com>
wrote:

--
Budi Prakosa
e: iyok@deadmediafm.org | budi.prakosa@gmail.com
p: +62 811 268 995
w: manticore.deadmediafm.org | lifepatch.org

[2020-08-27 19:24] waltsatan opened #102 "kicad_drill_string error"
I'm using the latest svg2shenzhen with Inkscape 1.0 on Mac OS 10.12 and am getting this error when I try to export a F.SilkS layer:

[code]
I've tried multiple variations of different layers and also tried exporting a simple basic square shape, but get the same error.  I added a blank Drill layer after noticing "kicad_drill_string", and there's no error, but the .kicad_mod file is empty except for

[2020-08-28 00:28] badgeek commented on #102
please check the drill layer, it is mandatory until i fix on next release

[2020-08-30 13:22] badgeek commented on #102
this is fixed in latest v 0.8.1.7 @waltsatan

[2020-08-30 13:23] #102 closed, assigned to nobody

[2020-08-30 13:23] #101 closed, assigned to nobody

[2020-08-30 13:23] badgeek commented on #100
this is fixed in latest v 0.8.1.7 @GuillermoTell

[2020-08-30 13:23] #100 closed, assigned to nobody

[2020-09-02 22:24] waltsatan commented on #102
Confirming the fix. Thanks!

[2020-09-05 17:24] GuillermoTell opened #103 "Edge.Cuts flatten Bezier issue"
Hi, I don't know why, but I get this message:

Traceback (most recent call last):
  File "export.py", line 750, in <module>
    _main()
  File "export.py", line 746, in _main
    e.run()
  File "C:\Program Files\Inkscape\share\inkscape\extensions\inkex\base.py", line 123, in run
    self.save_raw(self.effect())
  File "export.py", line 323, in effect
    self.processExportLayer()
  File "export.py

[2020-09-06 04:09] badgeek commented on #103
do you have example svg file ?

[2020-09-07 09:56] jcarolinares opened #104 "No output file-Inkscape message error"
Hello, I'm triying to use the extension but I'm having problems with the "Export to kicad" step. When I prepare the test viruspcb and I click on export as a module and I click on apply Inskcape return the following Python traceback from the extension:

`Traceback (most recent call last):
  File "export.py", line 750, in <module>
    _main()
  File "export.py", line 746, in _main
    e.run()
  File

[2020-09-07 10:37] GuillermoTell commented on #103
Here it is:
[Test.zip](https://github.com/badgeek/svg2shenzhen/files/5182608/Test.zip)

[2020-09-08 03:36] iharshadec commented on #104
@jcarolinares can you share your file?

[2020-09-08 03:45] iharshadec commented on #103
Here is your updated Test.zip. I am able to export properly.
1. I am not sure if you should do F.Mask-inverted you can leave F.Mask as it is.
2. You must do Prepare document first to make sure your drawing is within that area only.
3. You should add some more nodes to the path so lines are smooth when you see it on KiCad.

I have exported without using that flatten Bezier. Added more nodes. -- You

[2020-09-11 07:47] jcarolinares commented on #104
Hello!

It happens with every .svg file, but in this case, the log is from the example file "viruspcb" found on the readme of this repo:

[https://raw.githubusercontent.com/badgeek/svg2shenzhen-next/master/examples/viruspcb.svg](https://raw.githubusercontent.com/badgeek/svg2shenzhen-next/master/examples/viruspcb.svg)

I've tried to figure myself what is happening but no luck.

Regards!

[2020-09-11 08:07] iharshadec commented on #104
@jcarolinares
I just exported without any error in windows. By looking at your error looks like you have **Open KiCad** option checked.
Try one more time by unchecking all options under Export to Kicad.

Something Like this....
![image](https://user-images.githubusercontent.com/20681096/92889498-e9213b00-f433-11ea-9a87-8ee38136e187.png)

[2020-09-11 12:13] jcarolinares commented on #104
Hi.

Sorry, but I'm using Ubuntu 16.04 as I commented above... Yes, of course, it works on windows, the problem is on Ubuntu 16.04 :+1:

The error happens with the "open on Kicad", flatten bezier, and PCBway unchecked.

Regards

[2020-09-11 13:41] badgeek commented on #104
can you screenshot me "Export to Kicad" dialog ?

On Fri, Sep 11, 2020 at 7:13 PM Julián Caro Linares <
notifications@github.com> wrote:

--
Budi Prakosa
e: iyok@deadmediafm.org | budi.prakosa@gmail.com
p: +62 811 268 995
w: manticore.deadmediafm.org | lifepatch.org

[2020-10-06 05:19] Sodium-Hydrogen commented on #14
I just opened a pull adding this #105

[2020-10-09 20:18] ARKopp opened #106 "Error when "prepare document""
I am getting this error when clicking on "prepare document". I am using windwos ...

Traceback (most recent call last):
  File "prepare.py", line 322, in <module>
    _main()
  File "prepare.py", line 318, in _main
    e.run()q

[2020-10-10 06:42] badgeek commented on #106
need your inkscape version and svg2shenzhen version

[2020-10-10 08:45] ARKopp commented on #106
I installed inkscape 1.0 and now it works. I found the same issue already.  Before I had 0.92

[2020-10-10 08:45] #106 closed, assigned to nobody

[2020-10-14 00:20] Noisk8 opened #108 "Error export []"
Hi all, im try export a proyect bun have this error

Traceback (most recent call last):
  File "export.py", line 750, in <module>
    _main()
  File "export.py", line 746, in _main
    e.run()
  File "/snap/inkscape/7947/share/inkscape/extensions/inkex/base.py", line 140, in run
    self.save_raw(self.effect())
  File "export.py", line 323, in effect
    self.processExportLayer()
  File "export.py

[2020-10-14 03:03] iharshadec commented on #108
Can you share your svg file?

[2020-10-20 23:34] oficinadesonido opened #109 "Problem with EdgeCuts"
Hello friends
thank you very much for all the work!

I am trying to use svg2shengzheng to make a panel of a musical instrument, and I have problems with the edge cut, I have seen some tutorials and I do not see any very difficult steps, but I get this error
(I use inkscape 1.01 and svg2shengzheng 0.2.18.7 in linux mint)

Traceback (most recent call last):
   File "export.py", line 750, in <module>

[2020-10-25 23:11] hodgesds commented on #108
I was able to reproduce with the svg in the examples directory:

[code]

I was able to generate a project by wrapping a try/catch around line 474.

[2020-10-25 23:14] Phil242 opened #110 "No Mask Solder exported"
Hi, I was testing the plug-in to try to export in KiCAD some artwork.
But I lost the Mask Solder in the export.
I don't have any error in the debug output.
Using Inkscape 1.0.1 and SVG2ShenZhen 0.2.1.8.7
Thanks for your support,
Phil
[TestClean.zip](https://github.com/badgeek/svg2shenzhen/files/5436115/TestClean.zip)

[2020-10-29 12:04] vektorious commented on #109
Using Inkscape 1.01 and svg2shenzhen 0.2.18.7 (Linux Manjaro)

I got also got an error while exporting edge cuts (IndexError: list index out of range in edgecut export)

In my case the problem was that I converted my shape (rectangle with rounded edges) into a path and apparently this could not be converted by svg2shenzen. I then recreated the rectangle and did NOT convert it to path and the error

[2020-11-20 19:16] f0x52 opened #111 "Broken with new Inkscape API changes"
'Prepare Document' gives the following error on Inkscape 1.0.1 (3bc2e813f5, 2020-09-07)
[code]

'Export KiCad' then gives
[code]
and gives no output.

[2020-11-20 20:16] Sodium-Hydrogen commented on #111
What version of svg2shenzhen are you using? It looks like these error have been fixed since #76

[2020-11-20 20:21] f0x52 commented on #111
oh my bad, I thought I was running an up-to-date version but, quite old actually :)

[2020-11-20 20:21] #111 closed, assigned to nobody

[2020-11-22 09:50] rcludwick commented on #104
It looks like there's an error preventing the file in the cache from being created.

I saw this when bitmap2component_linux64 wasn't found... though there could be other reasons, like not returning or checking any error code.

[2020-11-22 10:12] rcludwick opened #112 "F.Mask-invert doesn't seem to work"
F.Mask with "-invert" appended to it doesn't seem to work.

It just drops the F.Mask layer altogether.

According to the docs, adding "-invert" should specify the places one wants mask not where one does not.

This is with 0.2.18.7

[pythonlogo.zip](https://github.com/badgeek/svg2shenzhen/files/5579282/pythonlogo.zip)

[2020-11-22 10:14] rcludwick commented on #112
It looks like this:

![image](https://user-images.githubusercontent.com/1568675/99901004-a61fe700-2c70-11eb-9b7d-8d6de109419a.png)

It should look like:

![image](https://user-images.githubusercontent.com/1568675/99901020-c780d300-2c70-11eb-8941-736971b8da74.png)

[2020-11-23 18:45] mxa opened #113 "tilde in export path messes up export location (Linux)"
Default export path for me is something like `~/Documents/project/subfolder` when exporting, the files are actually saved in `home/user/.config/inkscape/extensions/~/Documents//project/subfolder` and yes, that's a folder with just a tilde in the name.
Workaround is to change the default path to `/home/user/Documents//project/subfolder`

[2020-11-23 21:06] rcludwick opened #114 "Front Silkscreen is not exported"
It appears that front silk screen is being combined with front mask.

[python_logo.zip](https://github.com/badgeek/svg2shenzhen/files/5585742/python_logo.zip)

The result looks like this:

![image](https://user-images.githubusercontent.com/1568675/100015258-eaa4a300-2d94-11eb-8912-10258f214b0d.png)

I was expecting it to look like:

![image](https://user-images.githubusercontent.com/1568675/100015

[2020-12-01 09:46] dpomaran opened #115 "Trouble exporting to KiCad"
I'm encountering the following error using windows, inkscape v1.0.1,  svg2shenzhen 0.2.18.7

Traceback (most recent call last):
  File "export.py", line 750, in <module>
    _main()
  File "export.py", line 746, in _main
    e.run()
  File "C:\Program Files\Inkscape\share\inkscape\extensions\inkex\base.py", line 140, in run
    self.save_raw(self.effect())
  File "export.py", line 323, in effect

[2020-12-08 09:47] jorticus commented on #115
I also encountered this, resolved it by upgrading from Inkscape 0.91 to 1.01

[2020-12-18 00:00] insomniacslk commented on #115
I am encountering this issue too, and already using inkscape 1.0.1. Using the latest checkout of svg2shenzen  (commit hash 42378e5ab2fa74d7d0d03dff32bd50893117ce73 )

[2020-12-18 00:14] insomniacslk commented on #115
Well... that was easy. I am using the source distribution, so `bitmap2component` is not built for my platform. Build it with `src/build.sh` and copy the relevant file to the inkscape plugin location (e.g. `cp src/bitmap2component inkscape/svg2shenzen/bitmap2component_linux64`, see `.travis.yml` for other platforms).  This requires installing the dependencies (e.g. `potrace`).

Or, easier, download

[2020-12-19 14:29] nikhilrami commented on #115
I did all the process of copying and pasting three files on Inkscape. After restarting Inkscape, under Extensions drop down menu, I am getting svg2shenzen 0.2.18.7 option. But under this option 1.Prepare document 2.Export to kicad remains disabled. Only About option is active and on clicking on it, an About window opens up. I am using Inkscape verion 1.0.1(1.0.1+r74). Please help me out.

[2021-01-25 00:53] HackModBrew commented on #115
I am having an issue with exporting to kicad as well. I am using 2.18.7 and inkscape 1.0.2. When I hit Apply, nothing happens. No Kicad project or module is made.

[2021-01-25 05:18] iharshadec commented on #115
Can you share your file?

[2021-01-26 04:10] HackModBrew commented on #115
Absolutely! I appreciate you reaching out to help. I found a mistake I made
so tomorrow I will try it again and if it works I will let you know and
update my github comment to what I did wrong. If it still doesn't work I
will send my files to have you look at it.

Thanks,

Jon

On Mon, Jan 25, 2021, 12:18 AM Harshad Italiya <notifications@github.com>
wrote:

[2021-01-26 18:33] robot-army opened #116 "Exported file ends up in "\AppData\Local\Temp\ink_ext_XXXXXX.pretty" rather than selected folder"
Hi,

On running export for the first time, and selecting a folder where I'd like the footprint to appear, I didn't find it where I selected.

Enabling 'debug', the below output shows the file appearing in AppData\Local\Temp...

Other files appear in the selected folder (the .svg2shenzhen-cache\ etc is there).

[code]

This is my first time trying this plugin (in recent memory at least!) so if I've

[2021-01-27 04:10] iharshadec commented on #116
There is option where you want to export
![image](https://user-images.githubusercontent.com/20681096/105941577-bfd01700-6083-11eb-9e93-15ef6496a7b7.png)

[2021-01-31 14:51] hobipivo commented on #115
Export to KiCad does not work. There is no file in the registered folder D:\KiCad. I'm using Windows, inkscape v1.0.2 and svg2shenzhen 0.2.18.7. I have activated "Debug", but cannot find a debug report file.

Christian

[2021-02-05 18:45] assemblu opened #117 "Export doesn't work"
Please close the issue, it looks like I was trying to export as module instead of project :)

[2021-02-05 18:47] #117 closed, assigned to nobody

[2021-02-09 10:15] bbonnal commented on #116
Same issue here. Did you find the solution to this ?

[2021-02-09 10:21] robot-army commented on #116
No, I didn't. @iharshadec is right, there is an option to tell it where to export, but on my install it doesn't seem to put it there. It appears instead in some /appdata/ windows thing I don't claim to understand at all.

Glad to see it's not just me!

[2021-02-09 11:08] iharshadec commented on #116
What's your inkscape Verison? If you are other than 1.0 can you try to download and install Inskcape 1.0?

[2021-02-11 19:24] Pipstapee opened #118 "What you telling me?"
Simple...What you telling me?

Traceback (most recent call last):
  File "export.py", line 750, in <module>
    _main()
  File "export.py", line 746, in _main
    e.run()
  File "C:\Users\Phil\AppData\Roaming\inkscape\extensions\inkex\base.py", line 140, in run
    self.save_raw(self.effect())
  File "export.py", line 323, in effect
    self.processExportLayer()
  File "export.py", line 468, in pr

[2021-02-12 04:27] iharshadec commented on #118
@Pipstapee is it possible to share your .svg file may be something on that itself is causing this.

[2021-02-12 16:34] Pipstapee commented on #118
I'm going to try a few things. I've used the Extension many times before.

[2021-02-13 08:49] Pipstapee commented on #118
![rings Holes](https://user-images.githubusercontent.com/48729955/107845965-c080e100-6dd7-11eb-9790-f66b3dbf66b6.jpg)
Take a look mate. After reinstalling Inkscape and the extension it still doesnt write the files and shows the error log as above. I've just tried it with project previously compiled that worked before and it shows the same error log. To conclude, I shouldn't be so lazy and I should

[2021-02-13 11:12] iharshadec commented on #118
This is JPEG file. I can not open this in my inkscape. Are this round "Holes". If you can share your .svg then I can try to export on my inkscape and see if any layer or anything else is creating problem or not.

[2021-02-13 11:17] iharshadec commented on #118
Here is my flow.
First prepare document.
![image](https://user-images.githubusercontent.com/20681096/107848604-b03e2580-6e1a-11eb-8d11-3f3532457b63.png)

![image](https://user-images.githubusercontent.com/20681096/107848596-a87e8100-6e1a-11eb-926b-dacee92a29ca.png)

Please find attached inkscape and exported file
[Test.zip](https://github.com/badgeek/svg2shenzhen/files/5975547/Test.zip)

[2021-02-13 11:54] Pipstapee commented on #118
Done that buddy, hence me being here.

[2021-02-13 12:00] Pipstapee commented on #118
[Rings.zip](https://github.com/badgeek/svg2shenzhen/files/5975600/Rings.zip)
Knock yourself out buddy. From what I can see your just going down the normal user route and assuming I've not tried that.
It's got to be something else. I've installed Inkscape and extension on a laptop with only Gcode software on it and it says it's saved it but when you look in the save folder it's empty....

[2021-02-13 12:46] Pipstapee commented on #118
"This is JPEG file. I can not open this in my inkscape."
You can drag and drop Jpegs, what version of inkscape do you use?

[2021-02-13 13:32] Pipstapee commented on #118
I see you're using ver, 0.2.18.6 what version of Inkscape are you using?

[2021-02-13 13:42] iharshadec commented on #118
I am using 1.0

[2021-02-13 13:53] Pipstapee commented on #118
So you couldn't possible direct me to a solution because we're both using different versions.

[2021-02-13 13:58] Pipstapee commented on #118
Inkscape 1.0.2 svg2 shen 0.2.18.7
This is what I've tried:
Earlier versions of each as well as 32bit and 64bit.
Putting extension in Inkscape extension and user extension folder, all of the above don't work.
The reason for raising this issue in the first place is that I've been running Ink v1.0.2 S2S 0.2.18.7 for about 2 months with no issues, I started using it again a few days ago and then the a

[2021-02-14 16:38] cutlasses opened #119 "Unable to export a single rectangular edge cut"
I'm using Inkscape for Mac 1.0.2. Since upgrading I have been unable to export using SVG 2 Shenzhen. I have the most up to date version (0.2.18.7).

Steps taken.

1. svg2shenzhen -> Prepare Document (leave options as default)
2. Draw a rectangle on the document
3. Convert rectangle Object to Path
4. svg2shenzhen -> Export to KiCad
5. Export fails with the following error

`Traceback (most recent c

[2021-02-14 18:55] cutlasses commented on #119
I have discovered that, if, after converting the rectangle to a path, I also apply Path->Union, the error goes away and the rectangle appears in KiCad! But, I am unable to get circular cuts to work in this way, so am still unable to achieve what I need to do.

[2021-02-16 12:32] BitBlit88 opened #120 "No perfect horizontal and vertical lines"
I observed that some lines that were perfect horizontal or vertical in Inkscape aren't perfect horizontal or vertical after exporting them to Kicad.
I also noticed that it is depending on the positioning. While a line is not perfect horizontal or vertical, it will be if it's moved some mm in x or y position.
It looks like a rounding error.
I attached some screenshots, the source svg file and the g

[2021-02-26 05:26] Sodium-Hydrogen commented on #120
This is an artifact from the lossy conversion that svg2shenzhen uses. See #107
I am working on making [svg2mod](/svg2mod/svg2mod) a more complete tool then I'll be able to work on adding it as an optional parser. If you are comfortable with the command line svg2mod can work for your case until then

[2021-03-03 13:38] BitBlit88 commented on #120
thank you, svg2mod worked perfectly.

[2021-03-03 13:38] #120 closed, assigned to nobody

[2021-03-20 09:33] Korb-Modular opened #121 "Empty output file"
-Windows10
-Inkscape 1.02
-svg2shenzhen 02.18.7

Trying to export a simple footprint with the attached settings, results in an empty output file.

![svg2shezhen Settings](https://user-images.githubusercontent.com/5785207/111865502-b1a5c500-8967-11eb-8ef9-2ea3ee60f3d4.JPG)

![svg2shezhen Output](https://user-images.githubusercontent.com/5785207/111865501-b10d2e80-8967-11eb-86d9-09d1fd56b5ba.JPG)

[2021-03-20 16:25] KoSv opened #122 "Arch Linux plugin boken"
Hi I'm on Arch,
I've followed the installation instructions but I can't get it up and running.
The 2 options "1. Prepare ..." and "2 Export .." are greyed out and not available/Clickable.
The "3. About" is available/ clickable and the info popup is working.
What can I do ?
thanks and cheers

[2021-03-20 17:37] KoSv commented on #122
OK, got it. I've screwed up the folder structure!

[2021-03-22 06:42] #122 closed, assigned to nobody

[2021-04-08 12:12] Bazmundi opened #123 "Error on export?"
Running InkScape:  1.0.2 (e86c870879, 2021-01-15, custom)
OS: Windoze 10
Downloaded [latest](https://github.com/badgeek/svg2shenzhen/releases/download/0.2.18.7/svg2shenzhen-extension-0.2.18.7.zip)

Followed destructions at: [https://github.com/badgeek/svg2shenzhen](https://github.com/badgeek/svg2shenzhen)

Got to export step and disappointedly received the following:

[code]

That is, literally on

[2021-04-10 19:47] marinappdf opened #124 "Svg2Shenzhen problems"
Hi, I have just installed Svg2Shenzhen 5 and everything seemed ok.
On extensions -> Svg2Shenzhen , the option “prepare document” is grey, I can’t click. I restarted inkscape twice, and the notebook once. I tried with a new document and a existing file. All the same.

Am I doing something wrong?

Inkscape: 1.0.2 (e86c870879, 2021-01-15)
OS: Endless 3.9.3

I posted this question on the [kicad forum]

[2021-04-12 12:25] marinappdf commented on #124
The problem was solved when using Inkscape 1.0, and not 1.0.2.
More details here: https://forum.kicad.info/t/svg2shenzhen-problems/28734/5 .

[2021-04-12 12:25] #124 closed, assigned to nobody

[2021-04-24 20:10] wraybowling opened #125 "KiCAD Module not created"
Others have pointed out an error when trying to export. I am experiencing similar issues. Here you can see it even applies to the example file provided in the readme. As much information as I could think to include also provided below. I would guess that this isn't a permissions problem as the script is already creating plenty of other files just fine (see screenshot).

svg2shenzhen: 0.2.18.7
OS:

[2021-04-24 20:28] wraybowling commented on #125
bitmap2component binaries are in fact set as executable for all roles, so that's not the issue.
[code]

[2021-04-25 11:43] iharshadec commented on #125
As I mentioned in other issue. Can you please try once by installing older version of Inkscape 1.0 instead of 1.0.2?

[2021-04-25 21:36] dandelany commented on #119
I am also experiencing this issue when attempting to export the Edge Cuts layer, running svg2shenzhen 0.2.18.7 and Inkscape 1.0.1 on Windows 10.  I have an Edge Cuts layer with bezier curves and exporting it yields the error:
[code]
I can also confirm that if I apply Path -> Union the error goes away, but the exported KiCad file does not accurately capture the curves:

![Screenshot 2021-04-25 1432

[2021-05-02 17:05] ghost commented on #123
Running InkScape: 1.0.2 (1.0.2+r75+1)
OS: Linux Mint 20.1
Downloaded latest

Not sure if this is the same problem or a different one, I get this on export (debug mode on):

[code]
In /home/rsholmes/Desktop/.svg2shenzhen-cache I find directory foo.pretty is empty.

I wanted to try checking whether the same happens in Inkscape 1.0. However it appears the only 1.0 download option available for Linux

[2021-05-05 19:02] mid-kid opened #126 "Build error: reverse() and sort() not declared"
I get the following build errors on linux with GCC 10 and boost 1.75.0:
[code]

To fix them, I've added `#include <algorithm>` at the top of `common/geometry/shape_line_chain.cpp`.

[2021-05-12 13:03] MakerCole commented on #11
I would also like this.  Right now my workaround (suggested by someone on the KiCAD facebook group) is to create a zone on the board and close the board file, open up the .mod file for the copper in question, copy the pts code from the polygon, open the board file in a text editor and find the zone and paste the points file from the copper polygon.  It works but is a bunch of extra work, I would t

[2021-05-30 08:34] endstreet opened #127 "Export failure"
Traceback (most recent call last):
  File "export.py", line 750, in <module>
    _main()
  File "export.py", line 746, in _main
    e.run()
  File "C:\Program Files\Inkscape\share\inkscape\extensions\inkex\base.py", line 140, in run
    self.save_raw(self.effect())
  File "export.py", line 323, in effect
    self.processExportLayer()
  File "export.py", line 468, in processExportLayer
    kicad_ed

[2021-06-12 14:03] hyuma78 opened #128 "Exporting Module"
I'm trying to export a Module with v0.2.817 and inkscape 1.1:

inkscape -C -d 1200 -o "C:\Users\MyUser\Documents\.svg2shenzhen-cache\.svg2shenzhen-cache\images\B.SilkS_g20.png" "C:\Users\MyUser\Documents\.svg2shenzhen-cache\.svg2shenzhen-cache\35mjvg4t.svg"
"C:\Users\MyUser\AppData\Roaming\inkscape\extensions\svg2shenzhen\bitmap2component.exe" "C:\Users\MyUser\Documents\.svg2shenzhen-cache\.svg2sh

[2021-06-22 23:59] rcludwick opened #129 "Is this project dead?"

[2021-06-28 08:14] x70b1 commented on #129
No. Why?

[2021-06-28 11:47] iharshadec commented on #129
Things are broken with Inkscape update.
Please use InkScape 1.0 version and this project is all good with that.

[2021-06-30 10:50] x70b1 commented on #129
Inkscape `1.1 (2021-05-24)` and svg2shenzhen `0.2.18.7` works here.

[2021-07-27 12:44] Woody363 opened #130 "Output file is blank or missing some layers"
Minimal changes required, but submitting this to save others several days of frustration

I experienced an issue where the output file contained only the edge cuts and nothing else (sometimes not even edge cuts) when creating a large 500mm x 500mm pcb.

Solution was to reduce the dpi from the default 1200 as (i assume) something was timing out when calculating the layers. A warning should be produ

[2021-08-10 14:55] arthurrowland commented on #119
@dandelany could you share the SVG so I can try and reproduce? I experienced a similar issue on some curves and think I resolved it by adding more nodes.

[2021-09-01 05:11] AEFeinstein commented on #127
I'm experiencing this as well
* Svg2Shenzhen 0.2.18.7
* Inkscape 1.0 (4035a4fb49, 2020-05-01)

[2021-09-01 05:20] AEFeinstein commented on #127
The export works with Inkscape 1.1 (c68e22c387, 2021-05-23)

[2021-09-13 03:18] PigeonFX opened #131 "Any up-to-date documentation?"
Having really problems finding documentation on this plug-in outside of the video and blog post linked in the description.

Does anyone have any links to youtube tutorials or anything that could help get me started?

[2021-09-16 13:51] PigeonFX opened #132 "Drill, and Edge cuts always scale larger then Cu and Mask layer?"
Whenever I try and export to KiCad the drill file and edge cut are much larger than the Cu and Mask layer?

https://imgur.com/i3lutOi

https://imgur.com/rJZvIsJ

https://imgur.com/249bxfi

[2021-10-10 23:28] rcludwick commented on #132
You need version X of Inkscape and version Y of kicad.  Y is easier to solve for than X.

[2021-10-11 01:22] Sodium-Hydrogen commented on #132
Changing versions doesn't fix this. The issue is scaling. By design everything but the edge cuts and drill layer is saved as a png and then converted to the module. Edge cuts and drill are processed directly to the kicad file. The script that does this isn't aware of transformations including scaling. You need to remove the scaling from those objects.

[2021-10-11 02:30] PigeonFX commented on #132
Could you tell me how to do that?

[2021-10-11 13:22] Sodium-Hydrogen commented on #132
I'm not sure on the circles for the drill layer, but the edge cuts if you have a path and break it apart and recombine. That has fixed the scaling before. Also ungrouping everything may help because the groups can have transformations on them as well.

Unfortunately this is something that really needs to be fixed in svg2shenzhen.

I'm trying to get vector to vector conversion working for all the l

[2021-10-11 15:37] PigeonFX commented on #132
Thank you. Good to know people are still working on the project! Got worried seeing the last update was over a year ago.

[2021-11-02 01:05] PigeonFX opened #133 "Can I get some help, Non of the KiCad files being made on export."
SO, I had it working then updated to Inkscape to 1.1.1 and everything broke. I uninstalled and reinstalled inkscape 1.1, but now its not exporting to KiKad.

I moved the svg2shenzhen files (0.2.18.7) into the User extensions folder. I used the example PCB file viruspcb linked in the tutorial.  use the export function with open KiCad, KiCad doesn't open and in the selected folder there are no KiCad

[2021-11-02 01:26] rcludwick commented on #133
At this point I'm thinking the best approach until they fix this would be to figure out how to export each layer into a dxf, and then import it back into kicad.

I'm thinking this may be abandonware given the number of issues vs pull requests over the last year.

That said you might try inkscape 1.0 since that seems to be the only version I've seen it works with.

[2021-11-02 01:41] PigeonFX commented on #133
Same problem with 1.0, 1.0.1, 1.0.2, 1.1 and 1.1.1

The frustrating part is I had it working yesterday on 1.1 (should have just left it alone).

I Will look into the .dxf option, I do all the artwork in illustrator so getting dfx is not a problem, but bringing it into KiCad is going to take some reading.

[2021-11-02 01:59] rcludwick commented on #133
So you can import DXF graphics into any layer into kicad_pcb.   Though I believe solder mask has to be inverted (in other words the positive area is where the solder mask is removed)

If I were going to do it, I would make a custom footprint with the copper, solder mask, and silkscreen dxf layers, then import the edge-cut layer directly into kicad_pcb.

You can make a registration mark on all laye

[2021-11-02 02:02] PigeonFX commented on #133
How about drill holes, will KiCad be OK with them as dfx or will it just see them as small pockets to rout out?

[2021-11-02 02:07] rcludwick commented on #133
For drills I would make a series of marks for the center holes directly in
maybe the silkscreen layer, and then just manually add them in the
footprint editor.

For routed holes I would use the edge cut layer.

On Mon, Nov 1, 2021, 8:02 PM Brook Morton ***@***.***> wrote:

[2021-11-02 03:22] PigeonFX commented on #133
Well I have a little progress the extension seems to be making all the layers to be imported:

Found if I tried to run the bitmap2component.exe in the latest release it errors out with:

![Capture](https://user-images.githubusercontent.com/39096995/139782367-5fd54f53-22a2-405c-a793-b759a543daf9.PNG)

so followed this thread:
https://githubmemory.com/repo/badgeek/svg2shenzhen/issues/5

And tried wi

[2021-11-02 04:47] rcludwick commented on #133
I was looking at svg2mod from here:

https://github.com/svg2mod/svg2mod

I'm going to try that this evening.

It would be similar in that certain layers need to be named the same way, but the last release was back in april.

[2021-11-02 04:54] PigeonFX commented on #133
Recognise that name from them helping people on here, looks like they decided to do it themselves!

Please let me know how you get on, just been trying with dfx files, but ran into the issue that not all the copper traces I make are even weight (I trace a lot of old 1960's PCBS that were hand-drawn).

Would love to hear how you get on with it!

[2021-11-02 05:21] PigeonFX commented on #133
For what its worth.....Got it running!

Anyone who runs into the same issue Select the Export As: Project option.

![Screenshot (79)](https://user-images.githubusercontent.com/39096995/139790665-16fd7206-685d-4386-b48a-952f26c532be.png)

I also added drayde's files that mean you can have non plated through holes if you add a layer named "Drill-NP" manually (that is going to save me hours of clicki

[2021-11-02 06:44] rcludwick commented on #133
I think svg2mod is easier.  It's not perfect, but it seems quite a bit easier to use.

[2021-12-05 12:58] pierstu opened #134 "Prepare has no attribute 'run'"
Hello, i'm likely having a python issue.

Bunsenlabs / Debian Buster, Inkscape 0.92.4 installed from apt
When I try to setup a new document, after hitting Apply i have a modal showing this error msg :

  File "prepare.py", line 322, in <module>
    _main()
  File "prepare.py", line 318, in _main
    e.run()
AttributeError: Svg2ShenzhenPrepare instance has no attribute 'run'

Here's what python -tt

[2021-12-05 20:11] Sodium-Hydrogen commented on #134
From the Readme

[2021-12-06 07:58] pierstu commented on #134
Tried with Inkscape 1.0.0 Appimage
Now i got this error, still at validation :

ModuleNotFoundError: No module named 'encodings'

Looks like i have only Python 2.7 on this machine.
I'll try with another session later this week.

Thanks

[2021-12-20 17:40] hyuma78 commented on #114
I noticed that your file doesn't have F.SilkS layer, so i fixed for you:

[python_logo.svg.tar.gz](https://github.com/badgeek/svg2shenzhen/files/7747038/python_logo.svg.tar.gz)

[2022-03-08 09:46] okelk opened #135 "NPTH holes"
I've spent a lot of time converting many holes drawn in inkscape/svg2shenzhen from plated through holes to NPTH (mechanical non-plated-through-holes)
I think it would be an excellent additional feature to be able already define them in inkscape.
As of version 1.1 inkscape supports hairlines (lines with a thickness of 0.000) - a hairline-circle would be a perfect way to define a NPTH.

or is there

[2022-05-21 02:48] LArkema commented on #77
For anyone else who comes along and gets the same error, I also found out after a long and painful trial-and-error process that svg2shenzhen doesn't allow for sub-layers under its designated layers - so any cluster of objects needs to be a _group_, not a layer. In the Objects menu, this looks like the condensed stack of paper with a golden paper on top (group) instead of a loose stack of three whi

[2022-10-25 21:14] smiler commented on #129
I can not get it to work with 1.2

[2022-10-25 21:17] x70b1 commented on #129
You could check this project:
https://github.com/svg2mod/svg2mod

[2022-10-30 16:38] smiler commented on #129
Thank you, that's great!

[2022-10-31 02:45] badgeek commented on #129
this project is not dead, and it should work with Inkscape 1.2, what is your error msg?